[2013-09-02 17:35] thedillonb opened #1 "Test Issue"
This is a test issue!

[2013-09-02 17:40] #1 closed, assigned to nobody

[2013-09-15 19:10] thedillonb opened #3 "This is a new issue! Good Job"
This is the description! Cool shit huh?

[2013-09-15 19:36] #3 closed, assigned to thedillonb

[2013-10-10 02:52] PiersonBro opened #5 "Switch to iOS 7 UI"
The current UI feels at home on iOS 6. Unfortunately this means that it's very old-looking on IOS 7. Because your target audience is most definitely on iOS 7, I think this should become a priority.

BTW Thanks for making a GitHub app!

[2013-10-30 03:15] roman01la opened #6 "Non-active links in issues chat"
Hi! I've noticed you can't open links posted to issue chat, they are behave just like a plain text.

[2013-11-02 01:50] nicwaller opened #7 "Find original from forked repo"
On the screen for viewing a forked repository, it would be great to have a button that goes straight to the original repo that it was forked from.

[2013-11-04 17:03] christhomson opened #8 "Cannot edit issues on private repositories"
Whenever I try to edit an issue (including trying to close it) on a private repo in CodeHub, I get a 422 error.

Thanks for making this app, it's great!

[2013-11-05 17:07] #7 closed, assigned to thedillonb

[2013-11-06 09:13] thechelsuk opened #9 "How do I give you money?"
Love the app. You should charge a fee, or have a way to donate via paypal or whatever.

thanks.

[2013-11-06 15:23] #9 closed, assigned to thedillonb

[2013-11-06 16:40] #8 closed, assigned to thedillonb

[2013-11-21 18:37] bladecoates opened #10 "Unable to login to github enterprise"
My company has an internal github enterprise server with the DNS akin of github.example.com. I have logged into VPN on my device. I verified I can browse to the site with safari, and login via safari. The github uses ldap authentication, codehub is telling me invalid credentials when I attempt to login.

I've tried http, https, and just the DNS in the domain box.

I love the app so far, keep up th

[2013-12-13 22:29] #5 closed, assigned to thedillonb

[2013-12-14 17:26] zzdoo opened #11 "The font size of source code page is too small to read on ipad mini"
I have to zoom in every time when reading a new file, and it's not so convenient. Is it possible to record or set the zoom scale? Thanks！

[2013-12-21 16:36] thedillonb opened #12 "2.0.1 Breaks App - Inifinit Loads"
Looks like there is a problem with the "async" keyword in an extension method. When compiled to Thumb code with all optimizations on the code path leads to god-knows-where and ends up with a spinner that never stops.

[2013-12-22 18:27] chaddjohnson opened #13 "Nothing loads; sits there and just spins"
I purchased this app via the App Store. It worked great for a while

But now, when I try to load anything, it just sits there and shows the spinner icon. I removed and re-added my account...same thing.

I was about to give this app a bad review, but instead I came here. Hopefully you will fix this.

[2013-12-22 22:06] chaddjohnson opened #14 "Wiki editing!"
It would be cool to be able to edit wiki pages with the app.

[2013-12-24 01:39] #12 closed, assigned to thedillonb

[2013-12-24 01:42] #11 closed, assigned to thedillonb

[2013-12-29 17:51] #13 closed, assigned to thedillonb

[2014-01-02 02:52] meetwudi opened #15 "'star' event shown as 'start watching' event"
In `news`, all events that people starred my repository are shown as 'watching events'.

[2014-01-07 13:17] #15 closed, assigned to thedillonb

[2014-01-16 17:46] coolacid opened #17 "Left nav doesn't update organizations"
Recently added an organization, and it does not show up on the left nave.

I can see the new org by going to:

Profile -> Organizations -> New Org

However, this does not update the left nav.

[2014-01-25 08:40] ghost opened #18 "Active account still logging in."
Tapping the currently active account in 'Accounts' will still show the 'Logging in...' HUD.

I think this should not happen as it is already logged in.

[2014-01-30 15:03] prud opened #19 "URL scheme and deep linking"
CodeHub is a great app and I'd really like to be able to launch it from within my app (which shows GitHub updates and links).

Another GitHub iOS app called iOctocat provides a very simple way for this. Their scheme is ioc:// and every GitHub URL can be appended to achieve deep linking: http://ioctocat.com/faq/ (see last question).

Example:
codehub://github.com/thedillonb/codehub/
--> opens CodeH

[2014-01-30 19:37] #10 closed, assigned to thedillonb

[2014-02-12 12:36] FunTimeCoding opened #20 "accounts page shows account twice"
Im not sure if thats a bug or intended behavior. It leads me to assume that there might have been a glitch upon adding my account.

[2014-02-27 22:41] bpon opened #21 "Support authentication by personal access tokens"
This is useful for enterprise githubs that do not allow username/password authentication.

https://github.com/settings/applications

[2014-03-15 01:03] Shawzborne opened #22 "Icon missing from github slide out"
Icon missing from github slide out

http://i.imgur.com/5ZjUSyB.png

[2014-03-15 01:04] Shawzborne opened #23 "Text doesn't line up with title when creating a new issue"
Text doesn't line up with title when creating a new issue

http://i.imgur.com/bpkvayC.png

[2014-03-15 11:41] Shawzborne opened #24 "Add the ability to add and upload images from the camera roll for issue descriptions"
Add the ability to add and upload images from the camera roll for issue descriptions

[2014-03-15 13:31] Shawzborne opened #25 "Move "Favourite Repositories" closer to the top on the left sidebar"
Move "Favourite Repositories" closer to the top on the left sidebar

[2014-03-15 13:32] Shawzborne opened #26 "Save button cut off in issue description"
http://i.imgur.com/AYtSXg0.jpg

[2014-03-15 13:37] Shawzborne opened #27 "Pull to refresh glitches if you pull to refresh and switch tabs"
http://i.imgur.com/i24vQTW.jpg

[2014-03-19 01:41] ryanseys opened #29 "Cannot tell whether an issue is open or closed from within the issue description/comments"

[2014-03-19 04:39] Shawzborne opened #30 "Off centre title"
Off centre title not sure if intended or not

http://i.imgur.com/U8RTgqx.jpg

[2014-03-19 13:12] Shawzborne opened #31 "Add the ability to share issues etc to other apps"
Add the ability to share issues and everything else by copying link etc

[2014-03-24 15:39] Shawzborne opened #32 "App didn't open with account logged in this morning not sure what happened."
http://i.imgur.com/Edqv3yW.png

[2014-03-25 09:28] Shawzborne opened #33 "Be able to close issues"
I want to be able to close issues

[2014-03-25 11:56] Shawzborne opened #34 "iOS Beta Team testflight/hockeyapp"
Hi,

Can I be part of the iOS beta team to help find bugs and provide suggestions before public releases?

I have a testflight and hockeyapp account at theshawzborne AT gmail.com can you invite me to the beta build?

Thank-you,

Shawn

[2014-03-25 14:34] #17 closed, assigned to thedillonb

[2014-03-25 15:11] Shawzborne opened #35 "This happened while I was simply reading issues"
This happened while just reading unread notifications

http://i.imgur.com/Dsmffxg.jpg

[2014-03-27 12:34] Shawzborne opened #36 "[Tweak]Post new issues quicker"
Currently when you first start up the app you have to tap 4 different areas just to begin filling out a new issue

Can you please make this much simpler, quicker and more useable so that we can quickly create new issues for a certain account.

Thanks

P.s. Also you still haven't added me to the test flight or hockey app betas I want to help make Codehub better..

Shawn

[2014-03-27 12:40] Shawzborne opened #37 "Make sections not jump to the top or see grey loading when opening sections"
I noticed that when you open each section it jumps to the top and I think a fade in or out would look much sexier

This also goes for any loading in this app

For example when I click the notifications tab it goes down because it's loading the grey spinny

I think it would look better if you have it just refresh in the background without us watching the grey spinner spin, unless I manual pull to r

[2014-03-27 12:43] Shawzborne opened #38 "Last updated filter doesn't account for issues"
For example we constantly post issues in the tapatalk github

http://i.imgur.com/tlEB9Iu.jpg

[2014-03-27 12:46] Shawzborne opened #39 "When refreshing lines don't go all the way across the screen to the left side"
When refreshing lines don't go all the way across the screen to the left side

http://i.imgur.com/zWJXeUL.jpg

[2014-03-27 17:36] Shawzborne opened #40 "Add "Are you sure" toggle in settings (on by default) to prevent loss of data"
http://i.imgur.com/01G8C2G.jpg

When you press the back arrow while composing a new issue that has any data in it. Create a toggle in settings that gives you an option to turn on or off a pop up that asks are you sure you want to go back.

Because I was typing a decent size bug report and hit the back arrow key by accident and it just deleted the entire issue that I was just in the middle of compo

[2014-03-28 01:39] #34 closed, assigned to nobody

[2014-03-28 09:48] Shawzborne opened #41 "No pull to refresh"
White space

When flipping through sections at bottom

http://i.imgur.com/Iz953yX.jpg

http://i.imgur.com/wpTMgdf.jpg

[2014-03-28 09:54] Shawzborne opened #42 "Place your Codehub ideas here:Making Codehub Better Suggestions Thread"
Here you can place your ideas and suggestions tweak set to help make Codehub the best github app on the App Store (already is).

-add more color for issues use this as possible example but I have other ideas in mind: something similar to http://i.imgur.com/wpTMgdf.jpg but different.
##

[2014-03-28 09:55] Shawzborne opened #43 "Add ability to add and remove tags and milestones"
Add ability to edit, add and remove tags and milestones

[2014-03-28 09:57] Shawzborne opened #44 "Allow us to add labels and milestones for the Codehub github page"
Allow us to add labels and milestones for issues for the Codehub github page

[2014-03-28 09:58] Shawzborne opened #45 "This bug happened today"
http://i.imgur.com/8ksKmUx.jpg

http://i.imgur.com/eon3sZB.jpg

[2014-03-28 10:09] Shawzborne opened #46 "Add the ability to Edit your own comments in case you make a mistake."
Add the ability to Edit your own comments in case you make a mistake.

[2014-03-28 14:54] Shawzborne opened #47 "Icons not appearing in 2.2.1"
Icons not appearing in 2.2.1

http://i.imgur.com/lYTBT52.jpg

[2014-03-28 19:57] #30 closed, assigned to nobody

[2014-03-28 20:05] #23 closed, assigned to nobody

[2014-03-28 20:07] #26 closed, assigned to nobody

[2014-03-28 20:23] #22 closed, assigned to thedillonb

[2014-03-29 11:34] Shawzborne opened #48 "Happens after you hit the open toggle to off"
http://i.imgur.com/EjjIbTe.jpg

Happens when I try to close the topic

[2014-03-29 11:39] Shawzborne opened #49 "Says I haven't created any issues for Codehub"
http://i.imgur.com/NIOFw8C.jpg

http://i.imgur.com/8de7M0w.jpg

[2014-03-31 11:05] Shawzborne opened #50 "No way to report app crashes code hub is crashing when I try to look at notifications"
No way to report app crashes code hub is crashing when I try to look at notifications

[2014-03-31 11:06] Shawzborne opened #51 "Ability to auto save issue draft if app detects low quality data connection"
Ability to auto save issue draft if app detects low quality data connection

[2014-03-31 11:08] Shawzborne opened #52 "Grammar issue change "minutes" to "minute" if 1 minute ago"
Grammar issue change "minutes" to "minute" if 1 minute ago

http://i.imgur.com/3ELl43P.jpg

[2014-03-31 11:17] Shawzborne opened #53 "Codehub crashes when you search in issues and press cancel on a lower quality data signal"
Codehub crashes when you search in issues and press cancel on a lower quality data signal

[2014-03-31 11:27] Shawzborne opened #54 "Mine section completely incorrect"
Mine section completely incorrect

I have reported about 50 iOS tapatalk issues

Not 2..

http://i.imgur.com/MDC9HuR.jpg

[2014-03-31 11:33] Shawzborne opened #55 "Clearly No auto updating built into Codehub.."
There is clearly no auto updating built into Codehub which is a bit lame.
Since I re-opened this issue #79 2 mins ago and it still says closed...

http://i.imgur.com/fydVTSo.jpg

[2014-03-31 11:47] Shawzborne opened #56 "Bring bottom tab bar for quicker navigation"
Possibly bring Into a tab bar with easy access to issues sections etc

Tired of clicking 4 times to just post an issue or see a section..

http://i.imgur.com/HLxtTmS.jpg

You wanted me to help make Codehub good. We need to figure this out

My skype is theshawzborne if you can add me so I can call you sometime
I have a lot to discuss

[2014-03-31 17:51] Zmanbaseball2 opened #57 "Full title does not show up when viewing the issue"
http://i.imgur.com/MEycCZ0.jpg
The title should go to the next line and not have a "...".
The only way to review the whole title is to edit the issue and edit the title.
2.2.1

[2014-03-31 17:55] Zmanbaseball2 opened #58 "No way of knowing who made the issue"
I cannot figure out who makes any issue. I can only know who makes a comment as it does say which user makes it.
2.2.1

[2014-04-01 09:51] Zmanbaseball2 opened #59 "Add ability to not remove notifications after they are tapped on"
When I tap a notification, it disappears after I go back. I do not want that to happen. Can you add an option in setting to not remove the notification unless I make them all as read or want to remove that one?
http://i.imgur.com/SHhbu6R.jpg
http://i.imgur.com/LIYPGxp.jpg

[2014-04-01 09:57] Zmanbaseball2 opened #60 "Add ability to edit the sidebar"
I would like a way to edit the side bar. I want to be able to hide, move, reorder the the tabs in the sidebar.
http://i.imgur.com/pOZztfK.jpg

[2014-04-01 14:56] #25 closed, assigned to nobody

[2014-04-01 16:42] Shawzborne opened #61 "Add Custom Push Notification Sound which has the likeness of Codehub (techie cool)"
Add Custom Push Notification Sound which has the likeness of Codehub (techie cool)

I can help with this here are a few I designed myself. you can see if you like one and I'll send the raw file. I'm guessing you don't make a lot of money on Codehub and probably don't have funding so I guess I can't get compensation.

http://soundcloud.com/shawzborne/sets/tapatalk-possible-ios-push/s-9no4n

[2014-04-02 01:19] #44 closed, assigned to nobody

[2014-04-02 17:49] #6 closed, assigned to thedillonb

[2014-04-02 18:24] Shawzborne opened #62 "Never received a push notification"
http://i.imgur.com/Juor1hj.jpg

[2014-04-02 18:31] Shawzborne opened #63 "Please add unread notification red badge to Codehub icon"
Please add unread notification red badge to Codehub icon

[2014-04-03 11:49] #24 closed, assigned to thedillonb

[2014-04-03 11:55] Shawzborne opened #64 "GUI bug build 3"
GUI bug build 3![](http://i.imgur.com/rnnXu4J.jpg)

[2014-04-03 12:02] Shawzborne opened #65 "Camera roll sideways while in landscape mode"
Camera roll sideways while in landscape mode

![](http://i.imgur.com/b5laV8M.jpg)

Please post the code you used to fix this if you possibly would so we can finally fix this in @Tapatalk also

(It drives me and zach crazy) quite literally

[2014-04-03 12:03] Shawzborne opened #66 "Add a "Title" button near the upload icons or simply auto mirror the title text into the description box so we don't have to copy and paste it in each time"
Add a "Title" button near the upload icons or simply auto mirror the title text into the description box so we don't have to copy and paste it in each time

[2014-04-03 22:10] Shawzborne opened #67 "GUI Issue"
http://vimeo.com/90910502

[2014-04-04 04:10] Shawzborne opened #68 "Add share button"
Please add a share button so I can share an issue to other places. Make sure it has a copy link button

Thanks

Shawn

[2014-04-04 04:11] Shawzborne opened #69 "Bug alert"
![](http://i.imgur.com/aX3G0GL.jpg)

[2014-04-04 04:12] Shawzborne opened #70 "Show image in the description instead of the code"
Show image in the description instead of the code after saving in description section

And going to the main issue section

![](http://i.imgur.com/XR3s42H.jpg)

[2014-04-05 04:14] #50 closed, assigned to nobody

[2014-04-05 04:21] #49 closed, assigned to nobody

[2014-04-05 12:06] Zmanbaseball2 opened #71 "Make keyboard shortcuts (top bar) customizable"
The bar that has @#. *') make that customizable. I use the upload button more often now and would rather have that first:
![](http://i.imgur.com/F1tcMV6.jpg)

[2014-04-08 11:01] Zmanbaseball2 opened #72 "Uploading a picture status bar"
Rather than watching the upload screen spin make it a bar on top where the black meets the text box/white part ![](http://i.imgur.com/5Bsqwb0.jpg)

[2014-04-08 15:36] Shawzborne opened #73 "GUI bug and we need to completely change the way viewing an created issue looks"
![](http://i.imgur.com/iRmkghS.jpg)

GUI bug and we need to completely change the way viewing an created issue looks, we will not fix that till after we finish the new app so do not look into the 2nd part

[2014-04-08 15:38] Shawzborne opened #74 "Add default person responsible in settings and hide responsible section toggle if a default is chosen for repo"
Add default person responsible in settings and hide responsible section toggle if a default is chosen for repo

[2014-04-08 15:39] Shawzborne opened #75 "Description title doesn't line up with other titles"
![](http://i.imgur.com/p1k0e0K.jpg)

[2014-04-09 02:25] Zmanbaseball2 opened #76 "iCloud sync"
Add iCloud sync so the pin to slide out menu and other features sync to all devices.

[2014-04-09 03:37] #64 closed, assigned to thedillonb

[2014-04-09 09:01] Zmanbaseball2 opened #77 "Ability to hide slide out menu tabs"
Add the ability to hide tabs in the slide out menu.

[2014-04-09 09:04] Zmanbaseball2 opened #78 "Extra row of icons are misleading"
![](http://i.imgur.com/c4gkJOB.jpg)
The camera icon should open the camera not the camera roll and the image icon should open the camera roll, not insert text to add a link to a picture.

[2014-04-09 12:27] #77 closed, assigned to thedillonb

[2014-04-09 17:20] thedillonb opened #79 "Error getting response stream (ReadDone2): ReceiveFailure"
http://sentry.dillonbuchanan.com/codehub/codehub-ios/group/6/

This is most likely a timeout issue or some connectivity interruption. Regardless, the app may want to retry the operation before prompting the user as an error.

[2014-04-09 17:28] #45 closed, assigned to thedillonb

[2014-04-09 17:30] #75 closed, assigned to thedillonb

[2014-04-09 17:33] #68 closed, assigned to thedillonb

[2014-04-09 17:34] thedillonb opened #80 "2.4.0 Release"

[2014-04-09 17:34] #80 closed, assigned to nobody

[2014-04-09 17:40] #52 closed, assigned to thedillonb

[2014-04-09 17:43] #73 closed, assigned to thedillonb

[2014-04-09 17:48] #69 closed, assigned to thedillonb

[2014-04-10 03:28] #65 closed, assigned to thedillonb

[2014-04-12 16:30] Shawzborne opened #81 "[3.0 Redesign] Auto-hide various sections if you dont have access to them"
The Assigned, Milestone and Labels sections will be hidden if the Github user is not part of the repo.

[2014-04-12 16:33] Shawzborne opened #82 "[3.0 Redesign] Color Wheel (and Hex) to Customize colors on various parts of CodeHub"
Customizable Colors with Hex box if the user wishes to use a hex code.

[2014-04-12 16:39] Shawzborne opened #83 "[3.0 Redesign] Double Tap (quick switch) or Press then Drag under clock to change Github Issue Repo"
Double Tap (quick switch) or Press then Drag down to select specific repo under clock to change Github Issue Repo

[2014-04-12 16:40] Shawzborne opened #84 "[3.0 Redesign] Set a default Assignee for each repo"
Set a default Assignee for each repo

[2014-04-12 16:45] Shawzborne opened #85 "[3.0 Redesign] Set a default Assignee for each repo"
Set a default Assignee for each repo

[2014-04-12 16:46] Shawzborne opened #86 "[3.0 Redesign] Be able to add custom name to a repo if desired"
[3.0 Redesign] Be able to add custom name to a repo if desired

[2014-04-12 17:22] Shawzborne opened #87 "Centre the issue number (centre of vertical grey line)"
Centre the issue number (centre of vertical grey line)

![](http://i.imgur.com/sx2KDoK.jpg)

[2014-04-12 17:27] Shawzborne opened #88 "Possibly Auto hide areas"
Just my opinion but if I'm already in a section labeled open at the bottom. I shouldn't need to see a thing that says open in the mini description.

It's just more work for your mind

Also maybe think about possibly hiding other areas in here if they are unassigned or there are no comments yet. This would leave room for other things like colourful labels or something else more useful about the iss

[2014-04-13 18:32] Shawzborne opened #89 "Get rid of logging in and spinny at hard launch"
Remove startup spinny and fade into Codehub

[2014-04-14 03:45] #79 closed, assigned to thedillonb

[2014-05-03 12:42] Shawzborne opened #90 "Change Push Notification Wording and coding"
Instead of push notifications saying

"Zbaseballman2 opened issue thedillonb/CodeHub#12"

Say

"Zbaseballman2 created issue #12 in  the thedillonb/CodeHub repo"

And for opening/closing an issue say

"Zbaseballman2 closed issue #12 in  the thedillonb/CodeHub repo"

And if we want to customize it even more

Just say:

"Zbaseballman2 closed issue #12 in  the CodeHub repo"

[2014-05-03 14:11] Shawzborne opened #91 "Replace default github repo icons with circle repo creator image"
![](http://i.imgur.com/qowewFf.jpg)

[2014-05-13 03:28] Shawzborne opened #92 "The text randomly appears enlarged after clicking through"
The text  randomly appears enlarged after clicking through

![](http://i.imgur.com/6YFNvXQ.jpg)

![](http://i.imgur.com/u5xU61f.jpg)

[2014-05-17 12:07] norio-nomura opened #93 "News page shows incorrect time."
It seems CodeHub 2.3.2 calculates time difference by `local time - universal time`.

I'm living in JST(GMT+0900).
The first entry in News Feed on github.com shows _5 hours ago_ as following:
![screenshot 2014-05-17 20 47 38](https://cloud.githubusercontent.com/assets/33430/3004773/23190596-ddba-11e3-9dbf-207eea5f4908.png)

At the same time, the first entry on News page on CodeHub shows _14hours ag

[2014-05-23 15:04] creynders opened #94 "Trending repo's have 0 forks and stars"
Title says it all, I think. v2.3.2

[2014-05-23 22:27] #94 closed, assigned to thedillonb

[2014-05-24 18:55] Whitetigerswt opened #95 "Adding a collaborator shows the wrong person in news feed."
If I added someone as a collaborator to my repo, in the news view, it would say "Whitetigerswt added as a collaborator to Whitetigerswt/my-repo".  What I mean is, it displays the person who ADDED a new collaborator as the new collaborator.

I'll attach 2 pictures, one will be how it looks on my iPhone, and the other one will be how it displays on github

iPhone:
![img_0124](https://cloud.githubuse

[2014-05-25 06:56] demonbob opened #96 "Enable IOS URL-SCHEME for app, to allow for automation and integration into other applications"
I propose enabling IOS URL-SCHEME (codehub://) in code hub. This will allow for certain actions to be possible via URL-Scheme. We could then (theoretically) use apps like Launch center pro to create shortcuts to creating new issues for specific repo.

Senerio 1: In a meeting, a new issue is brought up about one of the projects I own. I would be able to click a shortcut in launch center pro that ta

[2014-05-25 06:59] DemonBob opened #97 "Integration with 3rd party services."
Propose integrating app with select 3rd party services like trello (project management). Where we could like github issues/commits with card name/id's for trello. Or vise versa.

Two or 3 of the most popular services would work, trello, jira, etc

[2014-05-29 13:05] maddinat0r opened #98 "Task lists"
It would be great if support for task lists (and [nested task lists](https://github.com/blog/1841-nested-task-lists)) could be implemented. They are currently only shown as lists with two square brackets (so the checkboxes aren't shown).

[2014-06-05 18:08] Shawzborne opened #99 "CodeHub iOS 8 Widget"
Please create an iOS 8 widget for IssueHub which allows you to quickly and easily create a new github issue on one of your repos

[2014-06-10 14:11] Shawzborne opened #100 "Not sure if this is a bug or not"
![](http://i.imgur.com/3uEjvtA.jpg)

[2014-07-09 23:41] #93 closed, assigned to thedillonb

[2014-07-11 22:38] leee opened #101 "Account window has no back button"
![](http://i.imgur.com/mMa2qxu.jpg)

After clicking the Account button displayed above, it is impossible to go back afterwards to the menu, thereby forcing users to close the application to get back as demonstrated below.

![](http://i.imgur.com/xiAPmUP.jpg)

Otherwise, amazing work! I love CodeHub (and if it weren't for the fact that I was a broke college student, would pay for the paid version).

[2014-07-13 11:23] Shawzborne opened #102 "Happens when you try to add a description on new issue iOS 8"
![](http://i.imgur.com/08f3kZr.jpg)

[2014-07-17 14:22] Shawzborne opened #103 "Codehub Crashes when you hit share/function button when on a repo page"
Codehub Crashes when you hit share/function button when on a repo page

[2014-07-24 16:06] Shawzborne opened #104 "Happens when you press share button ios 8beta 4"
![](http://i.imgur.com/HJM2End.jpg)

[2014-07-31 22:04] Shawzborne opened #105 "Add 1password iOS 8 app to allow secure and easy github login auto fill"
https://github.com/AgileBits/onepassword-app-extension

[2014-08-08 16:31] zgramana opened #106 "Repo doesn't build"
Even after 60cf8bc81b8c30a91993d8063499e7559166eed5#diff-d41d8cd98f00b204e9800998ecf8427e, which definitely improved things, I'm still unable to successfully build and run.

I can now build, but TinyIoC doesn't get view models registered and throws an exception during app launch. It looked like it was perhaps grabbing a stale Xamarin Utilities assembly, but didn't have time to really dig into it v

[2014-08-12 15:12] dannyti opened #107 "Codehub commits to Different branch file"
We select a branch and a file , edit the file and you save. It gets saved the first time but the commit gets reflected on the default branch instead of the selected branch.

Now, when you try to edit second time the same file from the intended branch, we have an error of code sign not matching.

[2014-08-12 17:38] davidcelis opened #108 "Use Octicons instead of custom image icons"
To improve the look and feel of CodeHub, you could use GitHub's [Octicons font](https://octicons.github.com) now that they've released it for public use. Using the icons that github.com itself uses would help CodeHub feel more like a native GitHub experience.

[2014-09-26 23:48] dbcb opened #109 "Feature Request: Please add "releases" and "download_count" to codehub"
First, thanks for the great app.
I miss the information about releases and the download count in codehub.
Since this information is only available over the API, it would be great if codehub can add it.

[2014-10-18 20:59] jmcbee opened #111 "How to build on Windows?"
Hi, I'm new to ios dev. Is it possible to build this on windows? I have a jailbroken device so the cert thing won't be a problem. Thanks!

[2014-10-19 05:25] #111 closed, assigned to nobody

[2014-10-30 00:18] woodsb02 opened #112 "Search within files"
When a source file has been opened for viewing, it is not currently possible to search for text within that file.

This would be handy, as finding what you are looking for in a long source file can be difficult without searching.

[2014-10-30 15:58] jptiancai opened #113 "View Accounts pages,no back menu."
when click `Account page`,no menu button.
Then if I want to back the home page,just relogin in or reopen the app?

[2014-11-11 06:17] JohanvdWest opened #114 "Organisations event view"
It would be great if the events page of an organisation shows the events of all repositories owned by that organisation.

Makes for a nice overview of what is happening in the code, even your own commits and issues.

[2014-12-12 10:09] ooker777 opened #115 "All black when commenting"
![](http://i.imgur.com/X6ZKmrW.jpg)the preview mode is still OK

[2014-12-17 19:58] AndrewFreemantle opened #116 "Feature Request: Create a new file!?"
I may be missing the obvious, as I can edit an existing file within a GitHub hosted project, but how can I add a new file using CodeHub?

I'm thinking this would be **really** handy for uploading blog posts to a Jekyll hosted site on GitHub Pages..  ;o)

[2014-12-27 22:23] emendamus opened #117 "Xamarin Utilities"
Hi Dillon,
i was trying to build your pcl-branch, but I couldn't load the following library:
DB.Xamarin.Utilities

Are u going to publish this library as well?

Kind regards
patrick

[2015-01-02 08:50] emendamus commented on #117
okay perfect. Thank you!

[2015-01-02 08:50] #117 closed

[2015-01-05 19:00] ecnepsnai opened #118 "Extra line breaks when viewing file"
When viewing a file there are blank lines added every other line, these lines aren't in the actual file and only show up on codehub.

Here's an example of what I mean, all of these extra blank lines aren't actually in my source file.

![2015-01-05 10 56 35](https://cloud.githubusercontent.com/assets/1607109/5618057/cb91c4ee-94c9-11e4-9f98-1f62886c1278.png)

The actual file looks like:

    require

[2015-01-30 14:43] sbrodehl commented on #115
Some issue here.
In landscape mode this black thing appears and pushes the text up.
In portrait mode all is fine, the keyboard seems to position just over the black thing.

[2015-02-01 00:26] Shawzborne commented on #115
Im sure he is aware of this issue, I have known about it since June when the iOS 8 beta 1 was released, I'm not exactly sure what the state of code hub is in right now

[2015-02-01 14:28] sbrodehl commented on #115
That's right, using iOS 8.1.3
Looks like CodeHubs needs an update on iOS ... last version is from 09 Jul 2014, with a heads up for a huge 3.0 version?!
Seems more like CodeHub is dead.

[2015-02-07 19:43] thedillonb commented on #106
This issue has been resolved. I got rid of the Xamarin.Utilities project and just collapsed it into the CodeHub project. All other dependencies are NuGet'ed. The project should build just fine now.

[2015-02-07 19:43] #106 closed

[2015-02-07 19:53] thedillonb commented on #116
Consider it done http://g.recordit.co/q5qs0Z1fLL.gif

It will be in the next release.

[2015-02-07 19:53] #116 closed

[2015-02-07 20:02] thedillonb commented on #113
If you're in the account page you can simply just click on your account again to get back to the menu.

Either way, I have added a "back" button in the next version:

![Back](http://g.recordit.co/j0T4ZgefRM.gif)

[2015-02-07 20:02] #113 closed

[2015-02-07 20:04] thedillonb commented on #108
Next version will use the Octicons!

![ios simulator screen shot feb 7 2015 3 03 16 pm](https://cloud.githubusercontent.com/assets/1644068/6093744/792933b0-aeda-11e4-988e-1cd4f063e265.png)
![ios simulator screen shot feb 7 2015 3 03 13 pm](https://cloud.githubusercontent.com/assets/1644068/6093745/792a4b74-aeda-11e4-9cfc-a15752de2065.png)

Future verisons will even have a theme editor so people ca

[2015-02-07 20:04] #108 closed

[2015-02-07 20:07] thedillonb commented on #29
![Close](http://g.recordit.co/FdguEcTOhz.gif) A indicator at the top has been added.

[2015-02-07 20:07] #29 closed

[2015-02-07 20:10] thedillonb commented on #47
Fixed in the latest. Images now always reference their owner's avatar - downloaded and cached locally if non-existant.

![ios simulator screen shot feb 7 2015 3 09 13 pm](https://cloud.githubusercontent.com/assets/1644068/6093761/4b0c1af0-aedb-11e4-8bd9-fcc050198057.png)

[2015-02-07 20:10] #47 closed

[2015-02-07 20:14] thedillonb commented on #118
Resolved in the next release. This was an issue of line-endings. Obviously some are just '\n' and some '\r\n' so CodeHub now accounts for both.

![ios simulator screen shot feb 7 2015 3 13 35 pm](https://cloud.githubusercontent.com/assets/1644068/6093769/e9a81be6-aedb-11e4-8f0a-20a715382fa8.png)

[2015-02-07 20:14] #118 closed

[2015-02-07 20:21] thedillonb commented on #115
@sbrodehl no not dead. Since this is just my leasure project I haven't had much time to dedicate to it. The next version is still on the way with plenty of fixes and lots of improvements; one of which is the fix for this issue.

![ios simulator screen shot feb 7 2015 3 19 58 pm](https://cloud.githubusercontent.com/assets/1644068/6093797/e5f91ae4-aedc-11e4-868d-d8fea37719d0.png)

[2015-02-07 20:21] #115 closed

[2015-02-07 20:25] thedillonb commented on #109
Added release information in the next version:

![Release](http://g.recordit.co/sr0hhlePUN.gif)

As for downloads, per the GitHub documents:

Downloads is being replaced by `Releases`

[2015-02-07 20:25] #109 closed

[2015-02-07 20:25] ecnepsnai commented on #118
Good to hear, thanks for fixing this!

[2015-02-07 20:26] thedillonb commented on #91
Good idea, will be in the next version:

![ios simulator screen shot feb 7 2015 3 26 31 pm](https://cloud.githubusercontent.com/assets/1644068/6093814/b5a272fe-aedd-11e4-9cff-d2f51bd2a406.png)

[2015-02-07 20:26] #91 closed

[2015-02-07 20:27] thedillonb commented on #84
Duplicate of #85

[2015-02-07 20:27] #84 closed

[2015-02-07 20:30] thedillonb commented on #81
Any user should still be able to see who the issue is assigned to and what milestone they anticipate a release.

[2015-02-07 20:30] #81 closed

[2015-02-07 20:37] thedillonb commented on #89
Not all users internet connections are a quick as others. The spinner helps to indicate that the app is communnicating with GitHub to load the profile of the user. Once loaded, it fades in. Otherwise, without some sort of loading indicator, you just stare at a static image thinking it froze.

![Load](http://g.recordit.co/Qc8kaUV7zi.gif)

[2015-02-07 20:37] #89 closed

[2015-02-07 20:41] thedillonb commented on #97
I may come back to this later but for now the addition of 3rd party services within the application greatly adds to it's complexity and size. I'd definitely be open if somebody provided a PR with the functionaility.

[2015-02-07 20:41] #97 closed

[2015-02-07 20:44] Shawzborne commented on #81
That's not exactly what I meant

[2015-02-07 20:44] Shawzborne commented on #47
Looks great

[2015-02-07 21:29] thedillonb commented on #101
![Back](http://g.recordit.co/j0T4ZgefRM.gif) Added a "cancel" button when in the account screen so you can back out of chaging an account. Likewise, you can just tap your name again.

[2015-02-07 21:29] #101 closed

[2015-02-07 21:41] thedillonb commented on #57
The header has been modified in the next version. It is a little prettier and the text expands to it's full size

![ios simulator screen shot feb 7 2015 4 40 38 pm](https://cloud.githubusercontent.com/assets/1644068/6094078/11dcf15c-aee8-11e4-8e48-d3350dca2cbb.png)

[2015-02-07 21:41] #57 closed

[2015-02-08 03:44] thedillonb commented on #81
Were you talking about when you create an issue? Then yeah, I added the functionaility to hide the fields you can't edit if you're not a collaborator.

(This is a repo I am not a collaborator)
![ios simulator screen shot feb 7 2015 10 42 31 pm](https://cloud.githubusercontent.com/assets/1644068/6095131/d942dbda-af1a-11e4-82c6-ac2e799398d7.png)

(This is a repo I am a collaborator)
![ios simulator

[2015-02-08 03:54] Shawzborne commented on #81
Yup that's what I meant :)

[2015-02-08 03:55] Shawzborne commented on #81
Did you change your iMessage?

[2015-02-08 04:46] thedillonb commented on #81
I actually have an Android as a primary phone now. My iPhone is just for dev now, and is Jailbroken, so I have a lot of the OS features disabled.

[2015-02-08 06:15] Shawzborne commented on #81
Lol oh

[2015-02-08 16:18] AndrewFreemantle commented on #116
Nice, and thanks for the .gif too  :smiley:

[2015-02-08 16:27] Shawzborne commented on #81
I sent you an email about adding me to the testflght beta, I'm not sure if your same email address still works. thanks

[2015-02-19 03:25] CodeMan99 commented on #113
Came here to report this issue. Glad to see it's already covered, but when will this bug be in a release, @thedillonb? The app page is reporting version "2.3.3", but I don't see that release on github.

[2015-02-26 13:36] umurgdk opened #119 "Does it really needs to have write access?"
Github oauth warns me about the app wants read/write permissions for public and even private repos. And this permission includes changing deploy keys and other critical stuff. I think there must be an option when we are logging in to choose less permissions.

[2015-03-04 15:28] thorade opened #120 "Android"
Just a question:
I would love to use CodeHub on Android.
Is there any chance you are going to make it available there, too?
Searching your repo for Android makes me hope so
https://github.com/thedillonb/CodeHub/search?utf8=%E2%9C%93&q=android

[2015-03-04 15:34] Shawzborne commented on #120
Yes he is adding it to android

[2015-03-04 15:37] thorade commented on #120
Awesome! Looking forward to that.
So I'll just follow https://twitter.com/CodeHubApp
and this issue here can be closed.

[2015-03-04 15:37] #120 closed

[2015-03-09 07:47] jptiancai commented on #113
@thedillonb  Glad to see the issue solved. :+1:

[2015-03-23 01:06] maique commented on #96
Is there a way to save a file as .md ? At the moment the file is saved as .txt, and you can change that when CodeHub is getting ready to save the file. Is there a way to force saving it as markdown ?

[2015-03-26 08:06] azplanlos opened #121 "Push Notification can't activate"
Push notifications are not working because they are disabled in control center. There is no way to activate as rights settings are not available.

![](http://i.imgur.com/jBndY40.jpg)

[2015-03-28 05:49] an85888 opened #122 "GitHub"

[2015-03-28 05:58] #122 closed

[2015-03-28 16:55] thedillonb commented on #107
This has been fixed in the latest version (2.3.4). Sorry for the long delay on this fix.

[2015-03-28 16:55] #107 closed

[2015-03-28 18:31] thedillonb commented on #121
Hello @azplanlos, the image that you posted, how did you get there?

Are you going Settings -> Notifications -> CodeHub?

![image](https://cloud.githubusercontent.com/assets/1644068/6882336/109ba91a-d557-11e4-9b34-c39011ae63f4.png)

That's what I see when I go there. You should then be able to enable notifications.

[2015-03-28 18:41] thedillonb commented on #102
Fixed in the latest version (2.3.4)

[2015-03-28 18:41] #102 closed

[2015-03-28 18:42] azplanlos commented on #121
Yes, it is code hubs options in the settings. But I don't get all this options

Von meinem iPhone gesendet

Am 28 Mar 2015 um 20:31 schrieb Dillon Buchanan <notifications@github.com<mailto:notifications@github.com>>:

Hello @azplanlos<https://github.com/azplanlos>, the image that you posted, how did you get there?

Are you going Settings -> Notifications -> CodeHub?

[image]<https://cloud.githubus

[2015-03-28 18:42] thedillonb opened #123 "Crash in 2.3.4 when pressing "Share" in Commit View"
Fails with the following error:

[code]

[2015-03-28 18:43] thedillonb commented on #104
Fixed in the latest (2.3.4). It should now appear in the middle of the screen. In the 3.0 version I will correct it to appear closer to the button.

[2015-03-28 18:43] #104 closed

[2015-03-28 18:43] thedillonb commented on #103
This is fixed in the latest version (2.3.4).

[2015-03-28 18:43] #103 closed

[2015-03-28 18:46] thedillonb commented on #119
Does the app have to have write access? No, if you don't want to use the creation functionaility for some of these things. GitHub will very soon implement functionaility to dynamically reduce permissions as the user sees fit. Once this is implemented you will be able to choose less permissions and the App will react accordingly by reducing the functionaility available to you. However, until then,

[2015-03-28 19:04] thedillonb commented on #95
This has been fixed in the upcoming verison (3.0):

![screen shot 2015-03-28 at 3 03 46 pm](https://cloud.githubusercontent.com/assets/1644068/6882455/b27d6b8e-d55b-11e4-959c-491fe6bed497.png)

[2015-03-28 19:04] #95 closed

[2015-03-28 19:05] thedillonb commented on #121
Interesting. I'll poke around and see if I can find out what's going on.

[2015-03-28 19:09] thedillonb commented on #18
This has been fixed in the upcoming release (3.0). You will no longer see the "Loging in..." if you're obviously already logged in.

![oa4lvmcn4i](https://cloud.githubusercontent.com/assets/1644068/6882476/6728d6e0-d55c-11e4-8d40-f2aab382b146.gif)

[2015-03-28 19:09] #18 closed

[2015-03-28 19:26] azplanlos commented on #121
![](http://i.imgur.com/BoYKpnw.jpg)

Reinstalled the App but didn't solve the issue

[2015-03-30 06:41] azplanlos commented on #121
By the way: same issue also on my iPad (both iOS 8.2).

[2015-03-31 03:01] thedillonb commented on #121
Hey @azplanlos, just wanted to let you know I'm still looking into this. It's so weird that, even after a re-install, the app is unable to register for push notifications. I'm having trouble figuring out why iOS wouldn't be giving CodeHub a push notifications token. Until I resolve this, you are by all means welcome to ask for a refund from Apple for this.

[2015-03-31 21:34] thedillonb commented on #121
Unreal, so I just figured it out. Apparently after I recompiled the application for iOS 8 there was a warning about a **deprecated** function. What Apple really means is that they introduced a breaking change since that function to register the device with APN doesn't actually work in iOS8.

`registerForRemoteNotificationTypes: is not supported in iOS 8.0 and later.`

So those who are trying to re

[2015-04-04 08:39] azplanlos commented on #121
Thank you for your afford!

[2015-04-05 02:59] thedillonb commented on #100
I can't get this to reproduce either. Closing until we see this again.

[2015-04-05 02:59] #100 closed

[2015-04-05 03:07] thedillonb commented on #14
Will re-open when Wiki API becomes available from GitHub. Until then, there is nothing I can do.

[2015-04-05 03:07] #14 closed

[2015-04-05 12:49] Wooble opened #124 "README.rst rendering"
CodeHub currently tries to render a README.rst file as Markdown, instead of as ReStructured Text. It would be nice if it could properly render RST like the GitHub website does.

[2015-04-09 20:07] thedillonb commented on #121
Hey @azplanlos, after Apple dragged their ass on reviewing the app, it is finally available for download. The newest version should fix your problem! Please let me know if you see any issue

[2015-04-09 20:07] #121 closed

[2015-04-18 20:02] thedillonb commented on #123
Fixed in latest.

[2015-04-18 20:02] #123 closed

[2015-04-18 20:05] thedillonb commented on #20
This will be fixed in the next version (3.0) as duplicate accounts, if they ever occur, are reconciled and collapsed into one. For example, attempting to add an account that already exists, CodeHub will recognize that the account has been added and just use that one:

![image](https://cloud.githubusercontent.com/assets/1644068/7217067/a2d59596-e5e4-11e4-89ee-0a65c7128e3f.png)

[2015-04-18 20:40] thedillonb commented on #21
Better late than never. Token authentication will be introduced in the next version (3.0):

![look](https://cloud.githubusercontent.com/assets/1644068/7217185/7a79996c-e5e9-11e4-8718-f7b9229d284a.gif)

[2015-04-18 20:40] #21 closed

[2015-04-18 20:40] #20 closed

[2015-04-18 20:42] thedillonb commented on #32
Closing as I haven't seen this happen again, unless of course, there is a networking error, in which case it should bring you to the "Accounts" view.

[2015-04-18 20:42] #32 closed

[2015-04-18 20:46] thedillonb commented on #40
Version 3.0 will contain this feature:

![look](https://cloud.githubusercontent.com/assets/1644068/7217232/77b5aa44-e5ea-11e4-8b77-0196ff3ea05b.gif)

[2015-04-18 20:46] #40 closed

[2015-04-18 20:51] thedillonb commented on #92
Fixed in the upcoming 3.0 version. The viewport for all web-based GUI components should be pinned

[code]

[2015-04-18 20:51] #92 closed

[2015-05-05 14:06] wackyMole opened #125 "Issues with Github Enterprise"
When setting up a Github Enterprise account, after entering your domain and username and prompted for the password, the input box scrolls off the top of the screen.

Also, potentially another issue, if Two-Factor authentication is enabled on the Github Enterprise account, The app throws an error saying "The request was unable to be processed due to an interal server error."

[2015-05-06 23:10] thedillonb commented on #125
@wackyMole, whoa, that's a new one. Just so I understand correctly, your GitHub Enterprise account has Two-Factor authentication enabled and when you get prompted to enter in the code it scrolls off the top of the screen? Do you happen to know what the version of the GitHub Enterprise instance is that you're connecting to?

[2015-05-07 02:04] wackyMole commented on #125
@thedillonb Well not exactly. :) the scrolling hapens when I'm prompted for a password. I'm never prompted for the two factor auth code.

Steps to reproduce:
1) Go to accounts and tap the "+" to add a new account.
2) Tap the box for "Enterprise".
3) Tap the "Domain" input box. At this point all of the others disappear.
4) Enter my Github Enterprise domain ("github.mydomain.com").
5) Tap "Next". Th

[2015-05-07 02:16] wackyMole commented on #125
@thedillonb Also (and this may be a separate issue) if I disable TFA on Github Enterprise and then try to set up the account, the same thing happens up until step 9. Instead of step 9, everything works and I can log in. But if I go back to the accounts screen, I can't delete the Github Enterprise accounts. If I slide to delete them, almost instantly, the delete button disappears and the entry slid

[2015-05-14 02:37] BionicPi opened #126 "Creating issues"
If you enter the labels menu when creating an issue, it does not let you return or save the issue.

[2015-05-21 13:37] wackyMole commented on #125
Doesn't work in GHE 2.2.1 either.

[2015-05-22 00:55] thedillonb commented on #125
hey @wackyMole, damn, you're absolutely right. There's a bunch of screwy things happening in the app. Fortunately, I've managed to fix them in the next version (3.0) which I'm hoping on finishing up in the upcoming week. The downside is that, as you mentioned, the app is currently a disaster in landscape mode. I dunno what happened with 2FA. I must of some how screwed it up in the last release as

[2015-05-28 17:44] CodyKochmann opened #127 "Please add a dark theme."
Please consider adding a full dark theme to the settings. I love using this app but it hurts my eyes to look at it for a prolonged period of time and I know I'm not the only one who has this happen.

Inverting the colors works to an extent but with the black menus, it creates pieces that go in and out and flash users who are trying to avoid it.

Even if there haven't been many complaints, top deve

[2015-05-28 18:46] thedillonb commented on #127
@CodyKochmann, great suggestion. I've been tinkering with not just a dark theme but also allowing users to create their own themes, and potentially having a repository of themes to choose from. With version 3.0 coming to a close I'll see if I can come up with something. If not, Ill definitely put something together for the next release!

[2015-05-28 20:01] CodyKochmann commented on #127
That's much appreciated, thank you very much!

[2015-06-07 21:09] ericsebesta opened #128 "Typo on http://dillonbuchanan.com/CodeHub/"
"destory" instead of "destroy" In the "Oh Crud" section.

[2015-06-12 14:36] kanyonbollinger opened #129 "Crashes on iOS 9 Immediately"
Upon opening the app, CodeHub crashes immediately.

[2015-06-12 17:12] Mikoj commented on #129
+1

[2015-06-13 02:33] thedillonb commented on #129
Thank's for pointing this out. It probably requires a re-compile for iOS 9 - I wasn't even aware iOS 9 was available yet.

[2015-06-13 02:35] thedillonb commented on #128
Great catch!

[2015-06-13 02:59] kanyonbollinger commented on #129
It's still in beta. I'm just letting you know ahead of time.

[2015-06-13 18:31] thedillonb commented on #128
Fixed and updated! Thanks again for pointing that out.

[2015-06-13 18:31] #128 closed

[2015-06-13 19:21] ericsebesta opened #130 "Typo on http://dillonbuchanan.com/CodeHub/, "immediatly""
Under the "Push Notifications" section. Sorry, I just went back to the page and saw it right now :/

[2015-06-30 22:52] kawazoe commented on #105
+1

[2015-07-10 17:05] Menshawi commented on #129
Confirming this too, it crashes immediately on IOS9. Tested on iphone 6

[2015-07-11 15:45] #130 closed

[2015-07-15 01:39] navneetreddy opened #131 "Network Graph"
It would be nice to be able to see the graphs, especially the network graph since it's a really helpful tool to track the history of commits.

Thanks.

[2015-07-17 22:49] robertybob commented on #129
As above , public beta of iOS 9 and it's crashing immediately upon launch.

[2015-08-12 19:22] Aahung commented on #129
According to http://developer.xamarin.com/guides/ios/platform_features/ios9/

[2015-08-12 21:31] Menshawi commented on #129
why isn't anyone taking care of this already?

[2015-08-12 22:11] kanyonbollinger commented on #129
To be fair, iOS 9 isn't officially released yet. However, other apps don't crash on iOS 9 which means it's not iOS 9 related. I've seen other companies push out fixes for iOS 9 - they just don't say it's an iOS 9 fix in the update description.

[2015-08-13 04:40] dannyti opened #132 "Creating file within a Repo"
At present in the iOS Codehub app, we are unable to create a file within a repo. Please provide this option to create a file.

Thank You.

[2015-08-21 15:55] bretmartin opened #133 "Notification misattributes PR closing"
When I get a notification that a PR I submitted is closed, it says that I did it, even though it was done by someone else.

[2015-08-21 15:56] bretmartin commented on #133
Example: https://github.com/wimnat/ansible-modules-extras/pull/1

Image of notification to follow

[2015-08-21 15:58] bretmartin commented on #133
![](http://i.imgur.com/lzJla6i.jpg)

[2015-08-21 16:00] caibo2014 commented on #133
wow!

[2015-08-21 16:00] caibo2014 commented on #133
lgtm

[2015-08-21 18:35] bretmartin commented on #133
@caibo2014 Not sure I follow -- do you mean "looks good" as in you don't see a bug here?

[2015-08-21 22:05] dillonb123 commented on #133
I started seeing this too. I'm investigating why this is happening

[2015-08-24 19:36] port8080 opened #134 "New user: unable to see any organizations"
Hi Dillon
I installed CoderHub today and installed the 'GitHub Enterprise Support' upgrade.

I am not able to see the organizations I belong under "Profile->Organizations" - the iphone app is saying "No Organizations". I have attached a snapshot of what I expect to see using my browser.

Let me know if there is some setting that I need to change.

<img width="742" alt="screen shot 2015-08-24 at 12

[2015-08-25 14:04] thedillonb commented on #134
Hello @port8080 , not too long ago GitHub made a change that may require you to give access to CodeHub via the Organization's Settings on GitHub. If you go to https://github.com (or your Enterprise instance), go to "Settings" and find your organization on the bottom left, click it, then go to "Third Party Access" and make sure there is no restrictions. If that doesn't work let me know and we can t

[2015-08-25 23:37] mfwass commented on #129
"To be fair, iOS 9 isn't officially released yet"

The beta has been out for months, the app should work on it by now. There is also a public beta, making the software even more popular on devices. It should be a top priority to fix this issue due to the sheer number of how many users have iOS 9. I have not had any issues with other apps on my iPhone. This is isolated to CodeHub.

[2015-08-26 13:52] thedillonb commented on #129
@mfwass, I appreciate your enthusiasm for seeing CodeHub on iOS 9! I am currently finishing up the next version of the app which supports iOS 9. However, I am extremely cautious about releasing it before the beta has ended. The number of times I've seen oddities occur from beta to RTM is quite numerous - when iOS 7 and 8 came out there was a lot of this. I want to make sure when I release the vers

[2015-08-26 14:01] techstreams opened #135 "Unable to access Trending Repos"
Hello.  Thanks for the great app!

Recently started receiving the following error when trying to access Trending Repos.

![](http://i.imgur.com/A3ZRrso.jpg)

[2015-08-26 16:57] port8080 commented on #134
Removed all the restrictions on  third party extensions; still not seeing my org in the app. Let me know if you need more info

<img width="1060" alt="screen shot 2015-08-26 at 9 56 55 am" src="https://cloud.githubusercontent.com/assets/326830/9500186/dc2e88d4-4bd8-11e5-8917-77208dc3231e.png">

[2015-08-30 00:39] lipangit opened #136 "How can I build xamain.ios in only one computer"
I install windows system in my mac, and install vs 2015 in windows,  I run this project but vs let me connect to Xamarin.ios build host, I have only one computer,How can I build this project.

[2015-08-30 02:24] thedillonb commented on #136
I typically just build this on my mac. You just need Xamarin.iOS for Mac and you're able to build this project. No windows needed.

[2015-08-30 02:25] thedillonb commented on #135
@techstreams, you're absolutely right. It should be working again now. That'll serve me for decomishing, what I thought, was an obsolete server ;) Thank's for pointing this out!

[2015-08-30 02:25] #135 closed

[2015-08-30 02:26] thedillonb commented on #134
@port8080, hmm, very odd. I've only seen this happen one other time with another individual. I can't recall off the top of my head how we resolved it but I'll do some digging through my messages and see if I can figure out what's happening.

[2015-08-30 13:22] lipangit commented on #136
Yes!!  I take a roundabout course。

[2015-08-30 13:25] lipangit commented on #136
I use Xamarin.iOS for Mac run a sample , but I did not open Xamarin.iOS Build host, does it useful for mac

[2015-08-30 19:01] mfwass commented on #129
@thedillonb A faulty running program would be better than one running not at all. Those who download the iOS 9 Beta understand that things may not work as expected, including CodeHub. If you know of a potential fix, throw it up there. Us *beta* testers will do our job as *beta* testers and report the bugs.

[2015-08-31 14:29] Aahung commented on #129
Yep I understood and it is indeed not mandatory to make compatible for iOS 9 during the beta phase. While on the other hand, if it matters only to recompile with newer version of Xamarin, I think it is worth doing.
In addition, it does not require Xcode 7 beta so you are still using the stable compiler to build the CodeHub:

So in conclusion, it won't be risky and I really hope you can do it and s

[2015-08-31 14:40] thedillonb commented on #129
@mfwass & @Aahung, after thinking about this a little more, you guys are right. I will start the app approval process on Apple's side and get the upgraded version out the door. Thanks again for being so enthusiastic about seeing CodeHub on iOS9.

[2015-08-31 14:44] Aahung commented on #129
@thedillonb That would be great! Should still be 19 days until launching, time is enough for reviewing. Better CodeHub with you nice developers.

[2015-08-31 18:56] mfwass commented on #129
@thedillonb Wonderful! I look forward to being able to test CodeHub on iOS 9, if I come across any issues I'll be sure to report them. Thank you. :+1:

[2015-09-01 07:48] #136 closed

[2015-09-01 18:22] lisemily opened #137 "Gist issues in iOS 8.4"
I'm having a couple problems with Gist on my iPad running iOS version 8.4.

1. Editing window cuts off after a certain point
A screencap of the editor:
![](http://i.imgur.com/HnjcZRt.jpg)
The same file being viewed (in portrait mode to display the entirety of the text; the editor still cuts off in portrait mode as well, not pictured)
![](http://i.imgur.com/IeWisMy.jpg)

2. Line breaks that are vis

[2015-09-04 12:33] lipangit opened #138 "Can I edit my gist"

[2015-09-04 15:18] thedillonb commented on #138
Is this a feature request? Gist editing is already part of CodeHub.

[2015-09-05 21:41] naveensrinivasan opened #139 "Error while logging in first time"
Here is the screen shot of the error when I was trying to login first time
![img_8786](https://cloud.githubusercontent.com/assets/172697/9701409/3ce41a9e-53f5-11e5-8a4e-a7b5ec15ed79.PNG)

[2015-09-05 21:42] thedillonb commented on #139
@naveensrinivasan, yeah that all of a sudden started a while ago. While annoying, it's harmless and if you click "Ok" you can proceed on without issue. This will definitely be fixed in the next version. Thank's for pointing it out though!

[2015-09-06 04:09] thedillonb commented on #137
Hey @lisemily, sorry to hear the editor is giving you trouble.

1) Is the editing window cutting you off vertically or horizontally (is it hiding stuff at the bottom of your screen or to the right)?

2) What kind of file are you creating/editing? Markdown, and similar formatted files, will sometimes not match line-break for line-break in their actual visual representaiton. Although, the visualizer

[2015-09-06 04:09] #138 closed

[2015-09-06 19:09] lisemily commented on #137
Hey @thedillonb,

To answer your questions,

1). It is cutting off vertically, and
2). I was creating/editing .txt files.

If you have any other questions or want me to try anything, let me know.  Thanks for looking into it!

[2015-09-07 04:28] thedillonb commented on #119
Closing this for now. I will re-open, or re-create, when GitHub enacts dynamic scope modifications so that users can choose their own permissions. Altering the scopes differently than what the app requests  will undoubtedly mean that functionaility of the app becomes disabled, which is a bummer, but gives the user piece of mind that they have now allowed write credentials to any app.

[2015-09-07 04:28] #119 closed

[2015-09-08 15:07] naveensrinivasan commented on #139
I did that. Just wanted to make sure it was reported.Thanks!

[2015-09-08 15:07] #139 closed

[2015-09-15 14:03] thedillonb commented on #129
You guys will be happy to know, that after 14 days, Apple has finally reviewed the App and it is now processing for the App Store! It should be in your hands very soon!

[2015-09-15 14:05] kanyonbollinger commented on #129
@thedillonb Thank you!!

[2015-09-15 14:05] #129 closed

[2015-09-15 20:27] mfwass commented on #129
Wonderful! I look forward to getting the update notification.

[2015-09-18 11:47] mfwass commented on #129
![image](https://cloud.githubusercontent.com/assets/8769835/9958586/83116362-5dd9-11e5-8677-668e10ace533.jpeg)
hype

[2015-09-18 20:29] mkoepke commented on #134
I just ran into this.

To fix:

1. Go to the github user account
2. Then Settings
3. Then Applications.
4. You should see CodeBox listed.   Click on it to drill down
5. At the bottom of the screen you should see Organizations listed for this user.
6. You need to specifically grant access to that organization

Now on the CodeBox app.
1. Go to Settings and Delete Cache.
2. Exit App and go to IOS Tas

[2015-09-19 22:05] Shawzborne commented on #61
I hope my sound is added as IAP or in 3.0

[2015-09-20 16:19] lehni opened #140 "Scroll down to the actual new comments when clicking on comment notifications."
When clicking notifications for new comments, the app takes you to the discussion, but just stays at the top of the issue thread, instead of scrolling down to the new comment.

This is particularly  annoying with very long discussions, as it happens quite often with issues.

[2015-09-21 17:33] port8080 commented on #134
:rocket:

[2015-09-21 17:33] #134 closed

[2015-09-22 06:04] Caij opened #141 "how to create github repository trending api url?"

[2015-09-22 20:09] thedillonb commented on #141
https://github.com/thedillonb/GitHub-Trending is the code I use to produce the trending API. It's not a public API and is subject to change at any time.

[2015-09-22 20:09] #141 closed

[2015-10-12 14:47] panshul007 opened #142 "IOS 9.0.2 not listing my Issues"
Hey,

It is amazing App but has some bugs, maybe due to some version changes,
Currently I am not able to see any issues in the App. The list is simply empty.

[2015-10-12 14:49] panshul007 opened #143 "IOS 9.0.2 Notifications - Participating filter not working"
Hey,

Currently, I am getting notifications to all the repositories that I have in my two organizations, but if I switch to Participating tab, it shows no notifications.
No idea if this needs some settings or something is wrong.

Thanks

[2015-10-12 14:56] panshul007 commented on #143
oh.. I think I know why... my bad.... got it working. :)

[2015-10-12 14:56] #143 closed

[2015-10-17 20:18] thedillonb commented on #142
Hey @panshul007, where are you going to see your issues? Are you clicking the "Issues" button in the slide-out menu? Or are you going to a repository and clicking "Issues"? The two ways of looking at issues are quite different. The former, clicking "Issues" in the slide-out menu, are issues that are assigned to you or belong to a repository you own. Where clicking "issues" once your in a repositor

[2015-10-18 17:59] panshul007 commented on #142
Hey @thedillonb I access the `Issues` from the side menu. The `closed` tab on the `issues` page shows me my recently closed issues, but the `open` tab is blank.

[2015-10-19 13:03] WORMSS commented on #107
@thedillonb  This bug seems to have regressed, as my co-worker is using 2.3.7 (2.3.7.1) and he edited a file on a development branch, and it made a commit and added the file on the master (default) branch. Such as @dannyti described. After that it either did a combination of match error and reports a sha id.

Or if we try to edit the file on the master branch (default) we get a communication inter

[2015-10-21 19:27] dannyti commented on #107
Can confirm on the second issue posted above by worms.

[2015-10-22 01:35] thedillonb opened #144 "Regression #107: Codehub commits to Different branch file"
The latest release seems to have regressed on #107.

[2015-10-22 01:36] thedillonb commented on #107
Wow, I'm pretty embarrassed. I'm cooking a release to put out tonight which will contain the fix. Sorry about that. Not sure how that happened... #144 has been opened to track the regression.

[2015-10-22 03:37] thedillonb commented on #142
Hey @panshul007, Hey @panshul007, if you go to one of your repositories in CodeHub and go to `Issues` do you see issues then?

[2015-10-22 09:18] panshul007 commented on #142
Yes I can see the issues when I go to organizations-> repositories-> some repository-> issues
I can see all of them.

[2015-10-22 22:46] dannyti opened #145 "Locally storing of Repo on iDevices"
If possible , can we have codehub locally download/store the whole repo ?

The idea is that we should be able to edit files, folders when we are offline and once we go online, all those commits can be committed together to GitHub.
Additionally, any commits to GitHub repo will be synced locally on iPhone.

This will make codehub ahead of its time among all git related apps.

Codehub can be a good r

[2015-10-24 21:29] #144 closed

[2015-10-24 21:32] thedillonb commented on #145
Hey @dannyti, this is a great idea and one I plan on doing at one point. Downloading the source code for later viewing is the easy part. I'm not quite sure how i'll approach the edit and sync part. Because CodeHub does not have a native Git client built in that may be a troublesome area of development - especially if you think about having to add a whole Git client into the app it's size will be q

[2015-10-25 18:07] vasily-v-ryabov opened #146 ""Unable to merge" error for organization repo"
Trying to merge any pull request for an organization fails immediately with the following error message: "Unable to merge! The server cannot locate the resources."

CodeHub 2.3.7, iOS 8.

[2015-10-25 20:06] dillonb123 commented on #146
Good eye. I actually just fixed this and pushed out a release. Apple is currently reviewing it now so hopefully it won't be too long before its in your hands.

[2015-10-27 11:01] vasily-v-ryabov opened #147 "_UIAHandler.py in NVDA repo is shown with incorrect syntax highlighting"
I'm viewing this file on iOS 8.4 (CodeHub 2.3.7): https://github.com/ckundo/nvda/blob/master/source/_UIAHandler.py

Incorrect syntax highlighting starts from line 3.
![codehub_bug_nvda](https://cloud.githubusercontent.com/assets/7419086/10756436/314f2e42-7cb5-11e5-8501-bebbc2a743fb.JPG)

[2015-11-01 23:39] Supertecnoboff commented on #99
Yeah this would be really nice. Please add this feature.

[2015-11-06 00:32] thedillonb commented on #146
This has been fixed in the latest release (2.3.8)

[2015-11-08 10:17] vasily-v-ryabov opened #148 ""Error! Unable to save labels! Please try again." for organization repo issue"
I'm trying to add label "bug" for the issue in my own organization repo. But after pressing "Back" arrow CodeHub shows some progress and then error message listed above.

[2015-11-08 21:39] vasily-v-ryabov commented on #146
The failure is still here. CodeHub 2.3.8, iOS 9.1.
Cannot merge with the same error.

[2015-11-12 02:21] thedillonb commented on #133
I just pushed out a re-worked notification service which addresses this issue. The problem was that it was taking the incorrect field in the notification. I've since modified it to take the "merged_by" field, or "closed_by" field to correctly reflect the user doing the action. You should start seeing these changes immediately in your notifications. If you see any other oddities we'll open this up

[2015-11-12 02:21] #133 closed

[2015-11-12 02:22] thedillonb commented on #148
Interesting. I'll take a look into this. Is this a repository you own in the organization or is it owned by others? If the latter, do you have permissions to edit labels in the browser?

[2015-11-12 02:24] thedillonb commented on #147
Yeah, unfortunately the parser I used in the app (highlight.js) does not always do the correct thing. I'm not really sure why it does what it does, but I plan on replacing it in the very near future.

[2015-11-12 07:28] vasily-v-ryabov commented on #148
Of course, I have permissions to change labels because I'm an owner of [the organization](https://github.com/pywinauto).

[2015-11-13 02:40] thedillonb commented on #146
Ah I see what you're talking about. It looks like there was actually two problems. The one I had corrected was with missing commit messages. The one I think you're hitting is the fact that the "Merge" button is appearing when you don't actually have permissions to merge that PR. For example, when I go to a repo I don't own, look at a PR, and click the merge button, I get the error again.

Is this

[2015-11-13 02:49] thedillonb commented on #90
Closing this as the notification user wording that ikkentim and johnthepink saw has been resolved via #133. As far as general wording of the notification goes, I'm going to leave it as it is for now. Two reasons: one is that it directly mimics the format that GitHub uses in the Event feed and the second being that because the notification has a size limit, I will tend to prefer smaller, more compa

[2015-11-13 02:49] #90 closed

[2015-11-13 02:54] thedillonb commented on #148
Hmm, I'm not sure why that might be. The label I just added to this ticket was done using CodeHub so I'm not sure where that would come from if you owned the repository, or was given collaborator status. I keep trying to investigate.

[2015-11-13 06:22] vasily-v-ryabov commented on #146
@thedillonb I'm an owner of the organization. I've already merged the PR from the desktop browser. BTW, the PR was sent from another member of the organization (he also has push access, but we created the PR to verify the fix - "merge" still fails).

[2015-11-13 10:08] vasily-v-ryabov commented on #148
Some time ago I subscribed to early access program for new access rights customization for organizations. If this early access program is not deployed yet for everyone, that might be a root cause.

BTW, our organization has no "Owners" group, but I'm an owner. Also I'm explicitly a member of "Contributors" group that has write access to each repo in the organization. Hope it makes the situation mo

[2015-11-13 10:12] vasily-v-ryabov commented on #146
As I mentioned in #148, the pull request creator is also a member of "Contributors" group that has write access to each repo in the organization. It was set in the repo settings explicitly.

We can create test organization for emulating pretty the same situation.

[2015-11-24 09:35] jinjorge opened #149 "Error when posting a comment to an issue"
App v2.3.8 iOS 9.2 beta 4

When trying to post a comment to an issue I get the following error.

![](http://i.imgur.com/YDHYfGu.jpg)

[2015-11-24 23:39] thedillonb commented on #149
Hmm. That's odd. By any chance is the issue closed for commenting (locked conversation)? I'm not able to immediately reproduce this but I'll keep looking.

[2015-12-05 22:38] thedillonb commented on #146
@vasily-v-ryabov, I, for the life of me, cannot reproduce this. I've tried creating new organizations with a team setup like you described - nothing. However, I do have a long shot that I want to see if you can confirm.

In a browser, go to your Org. Go to that Org's "Settings", then to "Third-Party Access". What is the policy set to? Is it "Access Restricted"? I get that exact same issues you're

[2015-12-06 07:34] vasily-v-ryabov commented on #146
@thedillonb, that's interesting. Thanks! I'll take a look at this when I have a chance (hopefully next week).

[2015-12-07 11:19] vasily-v-ryabov commented on #146
@thedillonb , you're right. This is set to "Access restricted". I can unset it, though it's not a secure way. I'll check this workaround and will close the issues.

But...
Is it possible to register your own CodeHub service (GitHub API app) to allow an access securely as several CI services do? iOS app might request GitHub API application access for the organization by opening it through Safari br

[2015-12-07 14:04] vasily-v-ryabov commented on #148
This is working with disabled "Restricted access" for third-party access settings. Thanks!

[2015-12-07 14:04] #148 closed

[2015-12-08 01:08] thedillonb commented on #149
@jinjorge are you attempting to comment on a issue in a repository owned by your organization?

[2015-12-08 01:14] jinjorge commented on #149
@thedillonb was attempting to comment on this issue

https://github.com/fastlane/fastlane/issues/876

I am not part of the organization.

[2015-12-11 16:16] ctrlz-kid opened #150 "Big"
Setting "list organization in menu" is wrong. The menu is shown when this setting is unchecked.

[2015-12-11 16:16] ctrlz-kid opened #151 "Bug"
Setting "list organization in menu" is wrong. The menu is shown when this setting is unchecked.

[2015-12-11 16:17] #150 closed

[2015-12-22 17:07] thedillonb commented on #151
@ctrlz-kid, when you disable the switch, what do you still see? When disabled, you should still see the menu item "Organizations". The only difference is that when you enable it, you will see your individual organizations take the place of that single "Organization" button.

[2015-12-24 10:04] ctrlz-kid commented on #151
When "List Organizations in Menu" is enable,  there is NO single "Organization" button.
When "List Organizations in Menu" is disabled,  there is a group  "Organizations".
And in this group, there is a "Organizations" button with a icon.

[2015-12-26 20:33] namnguyenhoang0310 commented on #151
Faceboo.com

[2016-01-05 02:23] Mortiferr commented on #132
Not sure why this greater would even be desired, that would be a serious pain to type out files on a phone or even tablet.

[2016-01-07 13:32] Nerdpie opened #152 "List Forks"
Using the app on my iPhone, I would like to be able to see the list of forks, in addition to the number of forks.  For instance, Minecraft mods are sometimes no longer developed by the original dev, and being able to see if any forks are active is very useful.

I do not know what data is exposed by the APIs, and I imagine that a full network graph would be a pain on mobile, but any work on this wo

[2016-01-07 23:38] namnguyenhoang0310 commented on #151
Facebook.com

[2016-01-08 07:53] sharpner commented on #149
I also have this issue. When posting on a watched repository from someone else (e.g. this ticket) I cannot comment in the app.

[2016-01-14 01:39] namnguyenhoang0310 commented on #151
https://m.facebook.com/milano.ac.393?fref=nf

[2016-01-14 01:49] namnguyenhoang0310 commented on #151
https://m.facebook.com/milano.ac.393?fref=nf

[2016-01-20 05:48] wackyMole commented on #125
Any update on this?

[2016-02-01 04:57] thedillonb commented on #152
Some preliminary support for listing forks will be in the next release:

![Forks](http://g.recordit.co/hvPpDvIIgL.gif)

[2016-02-01 04:57] #152 closed

[2016-02-01 04:59] thedillonb commented on #151
Are you sure you have your organizations set to "Allow Third-Party Access"? If the app does not have access to your organization it will not be listed: https://help.github.com/articles/enabling-third-party-application-restrictions-for-your-organization/

[2016-02-01 05:01] thedillonb commented on #62
Closing for inactivity. Push notifications are not 100% reliable and missed notifications may happen. If this gets out of control I'll open this back up and investigate why they're being missed.

[2016-02-01 05:01] #62 closed

[2016-02-04 12:16] faceleg opened #153 "Comments should appear in reverse chronological order"
Seldom do I want to reread the entire thread when someone has made a new comment

[2016-02-07 05:32] thedillonb commented on #147
I've implemented a new syntax highlighter in the next version 2.5.0 - which Apple is reviewing now.

![screen shot 2016-02-07 at 12 30 35 am](https://cloud.githubusercontent.com/assets/1644068/12871023/251ab6c8-cd32-11e5-9a46-829a9cf3d843.png)

[2016-02-07 05:32] #147 closed

[2016-02-10 06:03] negebauer opened #154 "Can't see issue comments and crash when opening readme"
When you open an issue you can't read neither the description and neither the comments of the issue

Also, when you open the readme of a repo the app crashes

Currently at v2.5.0 (2.5.0.1)

(Btw, the ui looks much cooler now 👍🏻)

[2016-02-10 06:04] negebauer commented on #154
Here is an image of the issue problem I mentioned

![](http://i.imgur.com/ZX6f4Tg.jpg)

[2016-02-10 06:07] negebauer commented on #154
Also, issue take way longer to load the info to display and sometimes it just doesn't load at all

[2016-02-10 15:10] thedillonb commented on #154
Hey @negebauer, I don't know how this happened but for some reason in this past release a menu image and the markdown resources (which are used to produce the readme and issue comments/description) are completely missing from the bundle that was sent to Apple. This is what is causing the crash in the Readme and the lack of loading in the issues.

This has been the first time assets have gone missi

[2016-02-10 19:06] negebauer commented on #154
@thedillonb well that's unfortunate and weird, hope it doesn't happen in the next version!

[2016-02-10 19:07] thedillonb commented on #154
Yeah me too :( Apple is currently reviewing the next version now. Luckily, they've agreed to expedite the review process so this will hopefully be solved very very soon.

[2016-02-10 21:15] thedillonb commented on #154
@negebauer, latest version in the App store resolves this... Jeez that sucked. Thanks for your quick feedback!

[2016-02-10 21:15] #154 closed

[2016-02-11 00:01] negebauer commented on #154
@thedillonb, it's working like a charm again
With such a quick fix we can pretend this never happened

[2016-02-11 07:28] rohan-deshpande opened #155 "Crashes when trying to view READMEs"
Using `2.5.0.1` on iOS 9.2, not sure why this suddenly started happening, was fine yesterday.

[2016-02-11 12:22] farmio opened #156 "Organisations Setting reversed"
In Settings when the "List Organisazions in Menu" toggle is turned on the Organisations Menu Item is hidden and vice versa. Shouldn't it be the other way around?

[2016-02-11 14:38] thedillonb commented on #156
The "List Organizations" option will list every organization you belong to individually in the slide-out menu. With it disabled, you should only see a single mention option: "Organizations". If "List Organizations" is enabled but you don't see anything, then you're probably hitting a common issue where the organizations you belong to have [3rd Party Access disabled](https://help.github.com/article

[2016-02-11 16:18] farmio commented on #156
Ah thank you for the clarification!

[2016-02-11 19:33] #156 closed

[2016-02-13 16:22] thedillonb commented on #155
@rohan-deshpande, are you up to date with the latest version? It should be 2.5.1.1. There was an issue with the bundle (2.5.0.1) that was published which caused the crash that has been resolved since.

[2016-02-14 02:36] rohan-deshpande commented on #155
Yeah I'm on 2.5.1.1 now and it's fixed. Thanks!

[2016-02-14 05:44] #155 closed

[2016-02-14 07:55] yveshanoulle commented on #105
+1

[2016-02-14 07:58] yveshanoulle opened #157 "Being able to add contributors from the app"
I would like To be able to add contributors to a project like I can on the website of GitHub ...

[2016-02-18 18:20] sharpner opened #158 "watcher cound not displayed correctly."
In the app the watcher count always equals the stars count:

![img_0582](https://cloud.githubusercontent.com/assets/574362/13153486/b1ed51f0-d674-11e5-9607-9cade4725238.JPG)

[2016-02-18 18:26] thedillonb commented on #158
@sharpner, lol, damnit! I must have wired up the wrong counter when I changed the UI and not noticed that correlation. I'll fix this in the next release. Thanks for the heads up.

[2016-02-18 18:31] sharpner commented on #158
:D yeah I figured that it would just be a copy paste mistake :P

[2016-02-20 14:03] dsyer opened #159 "Edit gist not working for me"
I can see the edit function, but when I make a change and save it, the change is not appearing in the gist when I open it again.

[2016-02-20 14:10] dsyer commented on #159
Actually, it does work, but you have to press the "Save" icon twice (kind of non obvious).

[2016-02-20 14:41] dsyer commented on #159
There's more though. I can only edit about a page of any gist (the first 40 lines or so). The rest never shows up in the editor. So the summary of this issue is correct but the description is not (it would be nice to be able to edit it).

[2016-02-21 02:36] thedillonb commented on #159
@dsyer, very interesting. I will look into this ASAP. I think I may have fixed the two issues you mention above (the fact that the file is not sync'ed when you save and the fact you have to hit save twice). But, I haven't seen the latter issue yet. I'll try to reproduce it and fix it. Thanks for reporting this.

[2016-02-27 00:00] thedillonb commented on #158
Fixed in the latest version (2.6.0) which has been released to the AppStore just this moment :) You should see the update soon!

[2016-02-27 00:00] #158 closed

[2016-02-27 01:41] thedillonb commented on #145
@dannyti, I'm going to close this only because Git2Go has released an excellent product and is probably better than I can accomplish by merging GitHub & Git management into one app. I highly suggest checking it out if you haven't seen it already: http://git2go.com/

[2016-02-27 01:41] #145 closed

[2016-02-27 01:56] thedillonb commented on #58
A nice and easy way to see who created an issue (or pull request) is to click on their icon. ![user](http://g.recordit.co/17SCa4qJCs.gif). This will be present in the next version.

[2016-02-27 01:56] #58 closed

[2016-02-27 05:04] thedillonb commented on #53
Closing due to inactivity - I believe this bug has been fixed for a while.

[2016-02-27 05:04] #53 closed

[2016-02-27 05:13] thedillonb commented on #31
Closing. Issue sharing has been part of CodeHub for a few of the past releases.

[2016-02-27 05:13] #31 closed

[2016-02-27 05:23] thedillonb commented on #41
This has been resolved as you are no longer able to tab through as things are loading. The `RefreshControl` is a horrible iOS component and causes a terrible UX. I will be looking to replace it later.

[2016-02-27 05:23] #41 closed

[2016-02-27 05:27] thedillonb commented on #27
Closed via #41

[2016-02-27 05:27] #27 closed

[2016-02-27 05:34] thedillonb commented on #35
This occurred because I was using Xamarin's default `HttpClient`. I have since moved to using Paul's `ModernHttpClient` which leverages the native iOS http stack. This issue should not occur anymore.

[2016-02-27 05:34] #35 closed

[2016-02-27 05:37] thedillonb commented on #67
This should be fixed now as the web frames are resized when the view is fully shown instead of during in transition.

[2016-02-27 05:37] #67 closed

[2016-02-27 17:15] thedillonb commented on #39
Fixed in the next version. The table view cells will adjust the lines based on their preference. Otherwise, the line lengths will abide by the iOS default. There will be some space (the lines will not go all the way across) but this is by design (apparently) as iOS is assigning default separator spaces.

[2016-02-27 17:15] #39 closed

[2016-02-27 18:19] thedillonb commented on #38
The filtering here is governed by what comes back in GitHub's response for "LastUpdated" time. Unfortunately, if issue updates don't update that timestamp CodeHub does not know about it. Due to performance reasons, we cannot poll each repository for it's "true" updated timestamp as it would take way too long.

There is nothing CodeHub can do about this until it's addressed by GitHub.

[2016-02-27 18:19] #38 closed

[2016-02-27 21:24] thedillonb commented on #159
I've resolved the 40 line issue. I'm not sure how that happened but it will be fixed in the next version.

![example](http://g.recordit.co/8dorEyCyrB.gif)

[2016-02-27 21:24] #159 closed

[2016-02-27 22:00] thebearjew commented on #62
I have also never received a push notification after upgrading to Pro.

I do see the notifications in the app, but none are pushed to Notification Center.

Other apps like iOctocat work flawlessly.

[2016-02-27 22:05] thedillonb commented on #62
@thebearjew, are you sure you have them enabled? Go into "Settings" and check if "Push Notifications" are enabled or not.

[2016-02-27 22:17] thebearjew commented on #62
Quite sure!

As a matter of fact, I got the notification for your response on iOctocat and OS X, but not CodeHub at all.

[CodHub iOS System Settings](https://cloud.githubusercontent.com/assets/5200812/13375742/a48f853e-dd5c-11e5-91ba-84621651db79.png)
[CodeHub App Settings](https://cloud.githubusercontent.com/assets/5200812/13375743/a4a9e47e-dd5c-11e5-8807-78856c444fae.png)
[CodeHub Pro Upgrade](

[2016-02-27 22:29] thedillonb commented on #62
@thebearjew, hmm you're absolutely right. I just went to check on the health of the server and it looks like on Feb 24th something completely knocked out communication with GitHub. All requests ended up coming back as 503s. I've since restarted the server and it looks like notifications are processing again. You should now start receiving notifications again. I will root cause the issue and invest

[2016-02-27 22:32] thebearjew commented on #62
Glad you found the solution!

I'll continue to test the app, and perhaps reinstall just to make sure. Thank you for the rapid responses :metal:

[2016-02-28 00:23] thebearjew commented on #62
@thedillonb happy to say Push Notifications are working beautifully!

![img_0485](https://cloud.githubusercontent.com/assets/5200812/13376334/7b798cb4-dd6e-11e5-824e-6da3bfed6c86.png)

[2016-02-28 00:36] thedillonb commented on #62
@thebearjew, awesome! Glad to see it working again!

[2016-02-28 01:21] cluening opened #160 "Gramatical error in welcome walkthrough"
Line 28 in CodeHub/CodeHub.iOS/ViewControllers/Walkthrough/PromoteViewController.xib should say "its Github repository" instead of "it's".

[2016-02-28 01:24] thedillonb commented on #160
Good catch!

[2016-02-28 02:47] #160 closed

[2016-02-28 21:08] kiliankoe opened #161 "Share menu on repo page"
Hi, I'd love it if it were possible to share the link to a repo right from the main view. Currently this doesn't seem to be possible, so I'm resorting to going to the README instead and sharing a link to that.

Thanks for considering! :)

[2016-02-28 21:10] kiliankoe opened #162 "Subscribe to an issue"
It currently doesn't seem possible to subscribe to an issue or PR thread from the app. It'd be great if this were an option.

Thanks for considering! :)

[2016-02-28 21:15] thedillonb commented on #161
@kiliankoe, wow, good point. Seems silly that the repo view doesn't have a share! I can definitely make that happen! Thanks for the feedback.

[2016-02-28 21:16] thedillonb commented on #162
@kiliankoe, another great suggestion! Will put into the next version.

[2016-02-28 21:21] kiliankoe commented on #162
Awesome, definitely looking forward to it. Thanks for the insanely quick reply as well!

[2016-02-28 23:00] an85888 commented on #162
- [ ]

[2016-03-01 14:12] jabbett opened #163 "Cryptographically validate app code?"
I work with paranoid security people. How do I prove to them that the open-source code you host here is the code that's available for download in the App Store? Thanks.

[2016-03-01 14:22] thedillonb commented on #163
Haha that's a good question. Let me ponder that a little bit and see if I can't find a way to definitively prove that they are the same.

[2016-03-01 14:51] vasily-v-ryabov commented on #147
It works fine in 2.6.0. Thanks! :+1:

[2016-03-01 23:51] FiveYellowMice opened #164 "Give error when commiting files but actually succeed"
The app gives the following error every time when commiting changes of a text file.

![image](https://cloud.githubusercontent.com/assets/9077203/13446053/6e3c49a8-e064-11e5-80c8-853dffa93891.jpeg)

But the commit actually succeed.

[2016-03-02 01:23] thedillonb commented on #164
Interesting... I'll take a look at it

[2016-03-02 20:42] ericshawlinux opened #165 "The pull request view should contain the Travis CI build status for projects that use it."

[2016-03-04 13:05] CJHarms commented on #105
+1

[2016-03-10 20:16] unional opened #166 "Search repo from server"
Currently the search function in repositories (at least, for what I know) only search from fetched results. It doesn't work correctly if the number of repositories > fetch limit.

[2016-03-11 17:01] norcross commented on #161
Wanted to chime in and say this would be very helpful for me as well (I think it's the same thing). Screenshot of the area that the link would help in.

![codehub- slideout](https://cloud.githubusercontent.com/assets/98561/13709250/edf98354-e780-11e5-96a5-dce1a39e4156.png)

[2016-03-12 17:41] jyaworski commented on #146
I'm also running into this, I believe. Server cannot find the requested resource, or similar, when I try to merge from the app. I have 2FA enabled.

[2016-03-12 18:24] thedillonb commented on #146
Hello @jyaworski, sorry to hear your having trouble. Are you trying to merge a pull-request that belongs to an organization?

[2016-03-12 18:38] jyaworski commented on #146
The repo is under an organization, yes.

[2016-03-12 18:43] thedillonb commented on #146
99% of the time it is an organization access policy that is causing the merge error. What's happening is that GitHub does not actually recognize the app as being allowed to access organization resources. You can view all you want, but not actually alter (merge) anything. To fix this, try the following:

1. Go to GitHub.com
2. Go to your profile settings (top right icon, drop down, bottom of list)

[2016-03-12 18:48] jyaworski commented on #146
Actually, it appears that comments fail as well. On issues under that organization.

[2016-03-13 01:18] daenney commented on #146
@jyaworski And in this case, voxpupuli, that's exactly on purpose. We don't want people to just randomly be able to connect any SaaS app they feel they should be allowed to use while they, the first time around, will be the only ones giving consent about the data that's collected about them, the org and all other members. That's not a decision anyone should just make on behalf of a group without t

[2016-03-13 01:55] jyaworski commented on #146
I was not aware of Github's permissions scheme. Then this is the intentional behavior and not a bug.

Sorry for the noise.

[2016-03-13 01:57] thedillonb commented on #146
@jyaworski no worries! This hits a lot of people. I'd put some logic into CodeHub to warn users but I haven't yet figured out how to determine if a user **could** be part of an organization if the organization policy is set to deny 3rd-party access.

[2016-03-13 17:27] negebauer opened #167 "Notifications showing twice"
In my iOS app everytime I receive a notification it arrives duplicated.

[2016-03-13 22:42] negebauer commented on #167
This is basically what happens:

![](http://i.imgur.com/ovgK0Ek.jpg)
![](http://i.imgur.com/Vt1rd6o.jpg)

[2016-03-14 02:45] thedillonb commented on #167
@negebauer whoa. That's a new one. I wonder if something happened during registration where it registered you twice. I will look into it ASAP. I assume this is happening for the "negebauer" user?

[2016-03-14 02:57] negebauer commented on #167
@thedillonb Yes! for the @negebauer user
It's been happening for, well, ever since I got notifications

[2016-03-14 02:57] TragicCaesar commented on #167
Is that me？I don't know.

[2016-03-14 03:00] TragicCaesar commented on #167
OK, so what should I do then

[2016-03-14 03:03] thedillonb commented on #167
@TragicCaesar, is it you? I'm not sure what you should do...

[2016-03-14 03:09] thedillonb commented on #167
@negebauer, I think i've resolved the issue. I'm not sure how, but it looks like one of your devices got registered twice - which would make sense. I've deleted the duplicate so you should stop seeing copies of everything ;)

[2016-03-14 03:12] TragicCaesar commented on #167
There are so many msg suddenly appear in my codehub scaring me to death, I'm in a class and maybe I'll check them later

[2016-03-14 03:13] thedillonb commented on #167
@TragicCaesar, if you'd like to limit the messages that come from this repository you may want to "Unwatch" it

[2016-03-14 03:15] negebauer commented on #167
@thedillonb Perfect. I'll let you known how it goes, tomorrow at best. Again, thanks for the quick response!

[2016-03-14 19:36] negebauer commented on #167
@thedillonb I haven't received a duplicated notification for all day
I guess it working
Closing the issue thanks
Thanks!

[2016-03-14 19:36] #167 closed

[2016-03-15 19:49] synergiance opened #168 "Unable to zoom source code view"
After the rendering change I stopped being able to zoom out on my code, it still works in the diff view. This is on an iPhone 5s on 9.0.2

[2016-03-16 13:58] jvanbrug commented on #125
I don't see any layout/scroll problems, but I have to disable 2FA to use the app - would love to see a fix so I can re-enable 2FA!

[2016-03-16 14:39] jvanbrug commented on #125
I got 2FA to work by generating a personal access token and logging in to CodeHub with username=`x-oauth-basic` and password=token

[2016-03-17 08:43] syuilo opened #169 "Deviated line numbers when include multi-byte strings"
![image](https://cloud.githubusercontent.com/assets/4439005/13843187/861ef6de-ec75-11e5-9c02-7fad97d6c3d9.png)

Sorry my bad English. Thanks!

[2016-03-18 02:05] thedillonb commented on #169
Ah, interesting. Good catch. I'll work to fix that in the next release.

[2016-03-19 16:24] #161 closed

[2016-03-19 17:14] thedillonb commented on #125
@jvanbrug, very clever! Never thought of that. I'm working on making "personal access tokens" a login flow so you fall back to that natively if 2FA doesn't work. I've always had a hard time getting 2FA working consistently as I don't personally have access to a GitHub Enterprise account so I basically beg GitHub to give me a trial version which ends up expiring after a month. So that process is a

[2016-03-19 21:20] #168 closed

[2016-03-20 01:37] helsinglee commented on #161
dark/light theme can only switch one time.

[2016-03-20 16:07] thedillonb commented on #166
@unional, you're right. Searching doesn't generally go to the server to get results. Instead it tries to filter locally. There doesn't actually exist an API that provides "search" functionality for listing repositories (except when searching globally across GitHub). However, you bring up an interesting bug in that searching should search locally, reduce the list of items, and then, if there are fe

[2016-03-20 17:25] thedillonb commented on #164
@FiveYellowMice, does this happen on every file you edit? Does the file belong to a repository that is owned by an organization? I cannot seem to reproduce this no matter how I try:

![img](http://g.recordit.co/zOPzm9jIA7.gif)

[2016-03-21 01:08] FiveYellowMice commented on #164
Well, it keeps happening on every text file in my repository, until I uninstall and reinstall the app. And I can not reproduce it now either. So it'll be fine...

[2016-03-21 01:08] #164 closed

[2016-03-21 14:24] jvanbrug commented on #125
@thedillonb thanks for all the work! I really enjoy the app. :smiley:

[2016-03-22 05:11] marckrejci opened #170 "Cannot access private repositories"
I've upgraded to your Pro edition and I'm not able to access any of my private repositories. Known bug or user error? Thanks!

[2016-03-23 03:54] thedillonb opened #171 "Add Personal Token Login Method"
Allow personal tokens to be used as a login method.

[2016-03-23 03:55] thedillonb commented on #125
I've just put the fix in for 2FA into the master branch. I'll cut the release ASAP for the app store. I'll get started on the personal token feature and have that in the following version. I've opened another ticket #171 to track the work for personal tokens.

[2016-03-23 03:55] #125 closed

[2016-03-23 03:56] thedillonb commented on #170
Are you still getting the "Upgrade to Pro" popup when you visit your private repositories?

[2016-03-23 04:01] marckrejci commented on #170
No. I'm not able to see any of my private repositories. They simply don't show up in the app anywhere. If I visit the "Pro Upgrade" section, the button says "Pro Already Enabled!" since I've paid already.

Thx for looking into it!

[2016-03-23 04:09] thedillonb commented on #170
Wait, so you don't even see your private repositories in "Owned" repositories list? Regardless if you bought Pro or not, you should still see private repositories listed (along with your public repositories). The fact that you don't even see them in the list may be a deeper, fundamental issue. These repositories don't also belong to an organization do they?

[2016-03-23 04:15] marckrejci commented on #170
Yes. I only really use it for private repositories in a few Organization accounts that I own. Here's a screenshot of the "Owned" tab in your app: https://imgur.com/a/43HYh

[2016-03-23 04:28] thedillonb commented on #170
Ah ha! I believe you're hitting a common issue that many people do around Organization permissions for 3rd-party access. GitHub recently changed how Organizations, in particular, grant permissions to 3rd-party apps (like CodeHub). The fix is simple, if you go to GitHub.com in your computer browser, click your user profile picture on the top right, go to "Settings", then on the bottom left you shou

[2016-03-23 04:31] marckrejci commented on #170
Boom! That did it. #solved

[2016-03-23 04:52] thedillonb commented on #170
Outstanding! Good to hear it's working. Let me know if you have any other questions, or comments.

[2016-03-23 04:52] #170 closed

[2016-03-24 17:43] mrraedb opened #172 ""The request to load this item did not complete successfully!" error for opening a private repo"
I keep getting this error whenever I try to open someone else's private repo that I'm a contributor to - the error also mentions "value cannot be null. parameter name: input".

[2016-03-24 19:54] thedillonb commented on #172
Hmm. Let me peak around the source tonight and see if I can't find the answer to this.

[2016-03-25 12:06] kilasuit commented on #157
Additionally the ability to add people to organisations too would be very useful

[2016-03-25 12:08] xiurobert commented on #157
+1

[2016-03-25 15:43] pinheadmz opened #173 "Some of my own (private) repositories missing"
At first I thought the app did not retrieve private repositories but now I see one of my three private repo's does appear in the list (not the other two). All my public repo's are visible. Is there a maximum number of repositories the app shows total? Or does this just happen with private repo's?

[2016-03-25 15:50] thedillonb commented on #173
Hello @pinheadmz, do these private repos belong to an Organization? There is no maximum number of repositories that the app shows - it should show them all, public and private. Typically, if a repository doesn't show up, its probably owned by an organization which has third-party access turned off.

[2016-03-25 15:56] pinheadmz commented on #173
Nope, just me.
App version 2.7.0 (2.7.0.3) on both my iPad & iPhone (iOS 9.2.1)
I own 3 private repos plus 20 public repos (a few of these are forks form other users)
In the app all I see is the 20 public + 1 private repos

[2016-03-26 02:18] bkoplin commented on #173
I have one private repository. I can see it on Github Desktop but not in the app.

[2016-03-26 14:21] RobertAudi opened #174 "Filtering trending repos fails"
The last language (alphabetically) that does not throw the error in my experience is `J`.

![Screenshot](http://i.imgur.com/i2sZ3sW.jpg)

[2016-03-28 14:22] herrbischoff opened #175 "App crashes randomly"
Every version of CodeHub I have used over the last year suffers from the same (annoying) problem: tapping a README, a menu item or basically any navigation element, crashes the app.

I cannot reproduce a sequence that always crashes it. Starting CodeHub again and tapping the same element works just as it should. The crashing appears to be random and not tied to any specific action.

I could not fi

[2016-03-29 02:43] thedillonb commented on #175
That's really unfortunate to hear. Although, honestly, I've had the app crash randomly too. I cannot, for the life of me, determine the root cause. My closest theory is poor resource management in Xamarin's framework. Regardless, every release I take the opportunity to clean up old code and pull new dependency versions in hope that I can one day rid the app of whatever causes it to randomly crash.

[2016-03-29 03:19] johnpneumann opened #176 "Offline Caching"
Recently I was in an area where there was really spotty service and I wanted to show someone some stuff on a particular repo I own, but couldn't. It would be really helpful to have an offline cache available from the repos that I have. What would be preferred would be to have the ability to select which repos you'd want to cache.

[2016-03-29 09:28] herrbischoff commented on #175
Interesting. I wasn't aware that you use Xamarin to build CodeHub. I don't know for sure but using C# for app development kind of feels off. As you are basically working in a non-native language, everything needs to be transpiled to different languages, which adds overhead of its own. I guess that also explains the UI that sometimes feels clunky and a little cheap. The curse of cross-platform deve

[2016-03-29 15:20] thedillonb commented on #175
Xamarin actually compiles down to native code - no transpilation. I originally started out when Objective-C was the only game in town - a language which I felt was one of the worst still in use (compared to the other modern languages out there). Swift, on the other hand, is one of the better languages out there. I've often toyed with the idea of re-writing it in swift, but have not had the time ye

[2016-03-29 19:16] herrbischoff commented on #175
Thanks for giving me some more background information. I understand completely. As much as passion projects would deserve more attention, one has to make ends meet. Don't worry, the UI is not cheap overall — just certain places where the whole experience would need more polish and love. Having said that, I'd be more than happy to lend a hand now and then in rethinking the UI. Also, sometime during

[2016-03-30 13:30] bipinu opened #177 "Upgraded to Pro. CodeHub says, no good!"
So I just installed CodeHub, and then just upgraded to Pro. Because why not!
- Tried accessing private repos, CodeHub asks me to upgrade.
- Since I have already upgraded, I close app, open it, and then use that tiny text link to "activate".
- CodeHub says activated, I say thank you!
- Browse to Private repo list, see private repos, click on one of the private repos...aaand it's overlayed with an u

[2016-03-31 04:00] thedillonb commented on #177
The answer is 42.

When the app says "Activated" does the "Purchase" button turn blue and say "Pro Enabled"? I can't quite figure out why the flag would not be getting set if you're seeing the "Activated" sign. Your device is not jailbroken is it? I've seen some strange phenomenon with jail broken phones. Regardless, I'm going to spend my day trying to reproduce this tomorrow. I'll try and throw s

[2016-03-31 04:05] thedillonb commented on #174
@RobertAudi, give it a try again. I believe I resolved it, or at least can no longer reproduce this on my device. All it took was a tweak on the trending API.

[2016-03-31 16:06] bipinu commented on #177
_Yes 42 is all hunky-dory, but what's the question?_

Nupes, it doesn't say that. (Screenshot attached!)
Device isn't jail-broken either.

![img_1241](https://cloud.githubusercontent.com/assets/78911/14182374/3bfd1e0e-f76b-11e5-934a-2bbacb95cbee.jpg)

[2016-04-01 01:12] thedillonb commented on #174
Closing as this has been fixed - or at least I can no longer reproduce this.

[2016-04-01 01:12] #174 closed

[2016-04-01 01:20] thedillonb commented on #177
So I was able to reproduce this once over several requests. I'm not exactly sure what happened that one time, but I closed out of the app (killed the app via the switcher). Then clicked "Purchase" again and it went through. I'll keep searching through. A new version just came out today - which fixes some other issues, but you might try using that and seeing if it works. It's a long shot, but just

[2016-04-01 15:39] bipinu commented on #177
Upgraded! Doesn't fix it.

However, something funny happens in the "News" view (it opens after I launch the app). I can see issues from my private repositories. However, clicking on them results in the same upgrade screen.

[2016-04-01 17:04] soyRazo opened #178 "Question of notifications"
codehub download page 17 activation notifications, delete the app because change my username and I was not in codehub, and appeared to re-install, but I have no notifications tells me to pay again.

[2016-04-01 21:30] thedillonb commented on #178
@soyRazo, which notifications are you talking about? Github notifications or Push notifications? Github Notifications are free. You shouldn't have to purchase anything. Are you referring to push notifications?

[2016-04-01 21:46] soyRazo commented on #178
Yes push notifications.
I had already paid the 17 and now that I returned to install is not activated, calls me pay again.
![](http://i.imgur.com/hV3W8xt.jpg)

[2016-04-02 00:20] thedillonb commented on #178
Have you tried the "Restore" button? It should restore your previous purchases. You can also try to "buy" it again. iTunes will tell you that "You've already purchased, would you like to download it for free" (or something like that) and that should fix it too (You won't be charged for it if you've already bought it.)

Regardless, it looks like you're on a old version of the app. Are you running i

[2016-04-02 00:31] soyRazo commented on #178
Yes i have ios 8, what's the problem?

[2016-04-02 04:31] soyRazo commented on #178
and I could solve it, thanks.

[2016-04-02 04:53] ontheway1215 commented on #178
why i often receive yours email 。

发自我的 iPad

[2016-04-02 04:58] #178 closed

[2016-04-02 19:33] thedillonb commented on #172
I think I fixed this. I couldn't get it to reproduce exactly like you mentioned but I did get it to produce the same error by doing something similar. The fix will be in the next release. Thanks for pointing this out!

[2016-04-02 19:33] #172 closed

[2016-04-02 22:45] thedillonb commented on #173
I can't seem to reproduce this. Can you both think of anything special about these private repositories - in terms of settings? There is no filter in the app to prevent private repositories from showing in the list so I can't see why they would not be showing up - especially in @pinheadmz case where 1 does show up but 2 others don't. I'm going to contact GitHub support and see if they can't shed s

[2016-04-02 22:49] thedillonb commented on #163
@jabbett, I can't think of any good way to prove this. Do you know of any other apps that might provide such a feature - maybe I can reverse engineer how they're doing it.

[2016-04-03 02:23] thedillonb commented on #162
Soo.. Ironically, subscription to an issue or PR is not actually part of the public API (yet). I'll put this on hold until it is.

[2016-04-03 02:31] thedillonb commented on #114
The organization event view currently shows events for all repositories and resources owned by that organization. E.g:

![screen shot 2016-04-02 at 10 29 43 pm](https://cloud.githubusercontent.com/assets/1644068/14230390/994902ae-f922-11e5-8ed8-a1951c593467.png)

[2016-04-03 02:31] #114 closed

[2016-04-03 10:27] kiliankoe commented on #162
Oh no... But thanks for the update!

[2016-04-03 11:23] bkoplin commented on #173
I can't think of anything special. Sorry.

On Apr 2, 2016, at 5:46 PM, Dillon Buchanan <notifications@github.com<mailto:notifications@github.com>> wrote:

I can't seem to reproduce this. Can you both think of anything special about these private repositories - in terms of settings? There is no filter in the app to prevent private repositories from showing in the list so I can't see why they would

[2016-04-03 21:32] malleusinferni commented on #61
Looking forward to this addition, and hoping it lands soon. Any notification sound other than the default is very helpful for distinguishing between the hundreds of attention-getting apps a user might have on their device.

[2016-04-04 08:48] bipinu commented on #177
@thedillonb Any updates on this.
I tried to take the "uninstall-reboot-install-activate" route. Still nothing.

[2016-04-04 15:13] pinheadmz commented on #173
Same here, I can't figure out anything special about the private repo that does show up in the app, or the two that don't. They all have the same settings. I even added commits to one of the repos that wasn't showing up just to see if it needed recent activity or something. Let me know if there's anything you want me to try. Maybe there is something funky with the github API you're using...

[2016-04-04 20:27] thedillonb commented on #177
@bipinu, I put a few "fixes" into master and pushed out a release for Apple approval. Since I'm not able to consistently reproduce this I'm not certain this will fix the issue you're seeing. However, it should, if nothing else, add more error logging (to the screen) if the app is having trouble actually communicating with StoreKit. I'll keep you updated as it progresses through approval.

[2016-04-05 05:14] weiyentan opened #179 "Codehub and Gitlab"
Does Codehub work work with the likes of Gitlab.com which is an enterprise instance?

[2016-04-06 16:37] ibash opened #180 "Organization not shown in left bar"
I upgraded to pro and am part of an organization but it does not show in the left bar.

We have restricted third party access, and I have owner privileges, but codehub does not show up in the list of apps to approve.

Any ideas on how to fix this?

[2016-04-06 17:03] ibash commented on #180
Note that I temporarily removed application restrictions and the organization showed up. I reenabled restrictions, killed/restarted the app and it went away.
I *should* be able to auth this.

[2016-04-06 21:05] BinaryBench opened #181 "Payed push notifications breaks apple guidelines."
In the [App Store Review Guidelines](https://developer.apple.com/app-store/review/guidelines/#push-notifications) apple specifies that:

_"Apps cannot charge users for use of Push Notifications"_

Codehub only offers push notifications to premium users, which breaks said guidelines.

[2016-04-07 04:25] #180 closed

[2016-04-07 04:26] ibash commented on #180
GitHub ui confused me, carry on

[2016-04-07 15:01] thedillonb commented on #180
Haha, yeah the organization permissions on GitHub are not so straight forward.

[2016-04-07 15:08] thedillonb commented on #181
While you are correct, I don't particularly agree with this recent guideline addition. I actually pay for a VPS and the bandwidth it takes to poll GitHub and retrieve notifications so I can shovel them off to users. If I didn't have to pay for it, I wouldn't charge for it. However, because I do have to pay for those resources, I believe it's fair to ask for compensation. The notifications are not

[2016-04-08 00:39] rsimenok opened #182 "Crash when trying to open issues"
App crashing when trying to open issues from side menu, or from repo page but only if there are issues.

App Version 2.9.0(2.9.0.3)
iOS 9.3.1
Tested on: iPad Mini 2, iPod Touch 6.

[2016-04-08 18:23] psifertex opened #183 "search issues only searches cached issues"
If I try to search for an issue, it will only search the issues currently listed in the default view -- if not all issues were loaded from the server, this causes the search to show no results when there might still be results on the server.

I'm not sure why my view doesn't show all of my issues, but I can only go back to 88 before I get a spinning wheel and `Loading`.

[2016-04-09 05:52] #181 closed

[2016-04-09 05:52] thedillonb commented on #179
CodeHub only works for GitHub.com and GitHub Enterprise. Gitlab is a completely different product which is not supported - sorry.

[2016-04-09 05:52] #179 closed

[2016-04-09 05:54] thedillonb commented on #177
@bipinu, 2.9.0 was released yesterday which added a few "fixes" as well as better detailed error descriptions for App Store purchases. If you'd like to give it another try and see if that resolves your issue, or, at least gives you a better detailed error messages on why it's unable to proceed.

[2016-04-09 05:55] thedillonb commented on #182
Hmm. I don't seem to be able to reproduce this issue. However, I do see errors being reported via iTunes so I know it's happening. Luckily, I think I've fixed it and have submitted another version to Apple to resolve the problem. Thanks for pointing this out.

[2016-04-09 05:59] thedillonb commented on #183
There's actually an outstanding issue where searching does not load more items if the filter reduces the number of items than what can be displayed on the screen. I am currently working on that. However, your second problem, where it doesn't load all your issues, concerns me. I assume the `Loading` indicator continues forever?

[2016-04-09 17:09] dsp0549 commented on #43
+1 for new milestones and labels, especially on-the-fly

Is there something lacking in the github api?  Few or no apps seem to be able to do this.

[2016-04-09 19:02] bipinu commented on #177
Thanks for all the work.
So I installed it and went for activation. Sadly the loader never stops.
If I relaunch the app, I get the following error message for a brief second or two: "Error Purchasing : object reference not set to an instance of an object "

![image](https://cloud.githubusercontent.com/assets/78911/14405773/d0c66118-fe95-11e5-935b-0e807ef4ec9f.png)
![image](https://cloud.githubuser

[2016-04-11 05:47] frdmn commented on #105
:+1:

[2016-04-13 14:18] thedillonb commented on #43
@dsp0549, the API supports it. However, it's just not a typical use-case for many. But, we can do it!

[2016-04-14 07:22] bipinu commented on #177
@thedilonb Any luck with error logs?

[2016-04-14 18:37] thedillonb commented on #177
@bipinu, I've seen two errors get reported back around iTunes issues in the Chinese local. I don't suspect that is your issue, but it has brought to light that there's an internationalization issue going on with language local that may be causing some issue here. Someone else actually mentioned they were unable to restore purchases and actually provided a video. So, that will go along way to resol

[2016-04-14 19:34] nickjacques commented on #177
@thedillonb I'm glad the video helped! Let me know if there's anything else I can do to help out :)

[2016-04-14 22:46] faciendum opened #184 "Profile Avatar does not sync with current GitHub picture"
Hi,

It seems like that if you're changing your current profile picture / avatar on GitHub, CodeHub won't sync with your assigned account and is still using the initial picture.

-----

I've tried:

#Remove assigned GitHub account in the CodeHub app and reconnect it. => old avatar.

#Deinstalled CodeHub app and installed it again and assigned my GitHub account to it. => old avatar.

#Waited for li

[2016-04-14 23:26] SaadVirtus commented on #184
Folks
Could you please unsubscribe me from this thread. Thanks

Saad Hameed

** I either dictated this to Siri or typed with thumbs. Expect typos :-)

[2016-04-14 23:53] thedillonb commented on #184
@SaadVirtus, you have to unsubscribe yourself - we can't unsubscribe you. You're probably "Watching" the repository when you might not want to if you don't want to receive messages.

[2016-04-15 00:08] thedillonb commented on #184
@faciendum, that's really weird. Even deleting the app didn't resolve it?! That's really strange. I wonder if the GitHub API doesn't make the reflective change for some time. This is not a case I've ever tested for so I'm not sure how GitHub or the app handles it. Technically, every time you launch the app, it should look for a new avatar, if there is one, and update everything appropriately.

[2016-04-15 00:13] thedillonb commented on #175
I think I've resolved most of the random crashes in the latest version released today (2.9.1). After collecting error reports for some time I think I managed to eliminate some of the corner cases that were being hit. I'm going to close this and continue to open more specific crashes as they come in.

[2016-04-15 00:13] #175 closed

[2016-04-15 00:13] thedillonb commented on #182
@rsimenok, this should be resolved in the latest version that was released today (2.9.1). If you're still seeing this feel free to open up this issue again and I'll take another stab at it.

[2016-04-15 00:13] #182 closed

[2016-04-15 02:33] SaadVirtus commented on #184
Thx
Will do

Saad Hameed

** I either dictated this to Siri or typed with thumbs. Expect typos :-)

[2016-04-15 06:01] faciendum commented on #184
@thedillonb

Indeed - it's really strange. I know it's not a big deal and I guess I wouldn't have noticed either if I didn't change my avatar yesterday.

I'll keep you up to date if anything happens.

Thanks for your reply. Greetings

[2016-04-15 11:15] bipinu commented on #177
@thedillonb Thanks! I appreciate the efforts.
The latest update (v2.9.1) didn't fix the issue either, btw.

[2016-04-15 21:47] Walkersneps commented on #184
I experienced the same bug, but uninstalling the app and then logging again worked for me

[2016-04-15 23:04] thedillonb commented on #184
I've got a fix for the next release. The app's cache is not flushed because the URL for the avatar doesn't actually change when you upload a new image - so it doesn't look like anything is different and prefers the cached version. Now, when you login the app, or switch users, it will destroy the avatar cache and allow the new one to be downloaded.

[2016-04-16 01:46] faciendum commented on #184
Nice !

[2016-04-16 02:39] thedillonb commented on #151
Closing due to inactivity. If you still see this please open it. However, I believe your organization isn't showing up in the app because it's now allowed via GitHub's Third-Party Access policy that has been set for your org.

[2016-04-16 02:39] #151 closed

[2016-04-20 17:06] Alex-Keyes opened #185 "Issues with Connectivity?"
I was updating a Readme.md file yesterday while connected to my home wifi.  I tried to push a commit after I had edited the file to my satisfaction but I was given the error "Github not connected, please try again later"  I repeated trying to commit a few more times with the same error.  Then when I went on the browser to check my Github I noticed that the commits had actually been pushed each tim

[2016-04-20 17:08] Alex-Keyes opened #186 "Create Repo"
I think it would be great to add a create Repo feature.  I've never worked with iOS before so I don't know where to start but i'd gladly work on this with someone.

[2016-04-20 17:16] luyofa commented on #186
我也是刚开始用，也不太会😂

发自我的 iPhone

[2016-04-20 17:49] thedillonb commented on #186
Great idea, API doc for creation can be found here: https://developer.github.com/v3/repos/#create

[2016-04-20 17:50] thedillonb commented on #185
Whoa, that's really weird. If I remember correctly, there's actually a hash that gets generated to prevent double submissions. I'll look into it.

[2016-04-20 17:51] thedillonb commented on #177
A new update is under review right now (2.9.2) which, I think 🙏 , finally fixes this issue.

[2016-04-20 17:53] thedillonb commented on #54
Due to space restrictions, "Mine" will continue to be used instead of "Assigned To Me". If there was more room in the tab control then it would make sense to change it. But the restriction makes that hard.

[2016-04-20 17:53] #54 closed

[2016-04-20 17:55] thedillonb commented on #74
Duplicate of #84

[2016-04-20 17:55] #74 closed

[2016-04-20 18:07] nickjacques commented on #177
@thedillonb That's great news! I'll definitely check it out as soon as it's available on the App Store. Thanks for digging into this problem!

[2016-04-21 04:00] nickjacques commented on #177
Just updated to 2.9.2 and was able to restore my purchase with no problems. Thanks @thedillonb for the fix - much appreciated!

[2016-04-21 04:59] drekryan opened #187 "Support for Github's GPG signature verification for commits"
I would like to see support for Github's new GPG signature verification feature for commits in CodeHub. Would it be possible to get a verified tag for commits with this signature verification in the app similar to the Github website? I would love to see this feature supported.

More information: https://github.com/blog/2144-gpg-signature-verification

API: https://developer.github.com/v3/repos/com

[2016-04-21 05:29] bipinu commented on #177
Thanks @thedillonb. This release didn't fix my problem, but I think I have the error message that may finally help you resolve it:
"Error Purchasing
Unable to restore transaction as iTunes returned an empty product identifier"

[2016-04-21 08:21] faciendum commented on #184
Hey Dillon,

I've just installed the new version.
Right now I'm not able to see my profile picture at all. It is just showing the default GitHub one.

I tried the same things I did with the last version. Still no picture showing.

Did you deployed this Bugfix within the current version ?

Greetings.

[2016-04-21 20:00] thedillonb commented on #184
Hello @faciendum,
you just see a default image? The gray one with the GitHub cat inside? That's really odd. The bugfix for the avatar changes did go into the 2.9.2 release. However, for you not to get an avatar image **at all** is really perplexing. To double check I just deleted the app on my phone, installed it from iTunes, and logged in, this is what I see:

![image](https://cloud.githubusercon

[2016-04-21 20:11] thedillonb commented on #177
@nickjacques glad that fixed your issue. Now for @bipinu, the fact that you're seeing that error message is extremely perplexing. The code path you're hitting is

[code]

which should never be hit. When you restore your transactions iTunes is **supposed** to return the original transaction and it's identifier. For it to come back empty makes absolutely no sense. It's like iTunes knows you purchase

[2016-04-21 20:43] faciendum commented on #184
![](http://i.imgur.com/TUrb7fy.jpg)

Hey @thedillonb

This it what it looks like for me.
It is actually exactly like you said. I'm using he latest iOS on iPhone 6S and the latest released version of CodeHub. I have no GitHub subscription even though this wouldn't change anything I guess.

Tried to reconnect my account twice and reinstalled the app after restarting the iPhone.

I'm sorry that I'm n

[2016-04-22 13:22] thedillonb commented on #184
@faciendum that's really odd. Are any avatars loading for you?

[2016-04-22 16:27] faciendum commented on #184
@thedillonb good news - i've just changed my avatar in hope that i just had to trigger the event. I couldn't see my Avatar immediately but long story short:

im able to see not only mine, but also everyone else avatar right now 👍

[2016-04-22 18:06] thedillonb commented on #184
@faciendum, that's fantastic to hear. I can't fathom what was occurring but I hope it never happens again. The app does use the underlying URL transport mechanism of iOS so perhaps it had a specific response cached for that image? I'm not really sure, but glad you've been able to resolve it.

[2016-04-22 18:06] #184 closed

[2016-04-22 18:07] thedillonb commented on #187
Ahh very interesting! Very cool feature. I can definitely implement this. Consider it done for next release.

[2016-04-22 21:59] bipinu commented on #177
Hahaha Don't you love writing code?

[2016-04-23 21:50] Alex-Keyes commented on #186
Okay sounds great I'll start looking at it and get back to you if I think I can figure it out.  I haven't done any swift programming before.

[2016-04-23 21:50] Alex-Keyes commented on #185
Okay thanks man!

[2016-04-23 21:52] Alex-Keyes opened #188 "Display Contribution chart?"
I would really like it if there was a way to display the users contribution chart, it's one of my favorite features of github and it would be great if code hub had this as well.

[2016-04-25 20:01] databug commented on #132
@Mortiferr I happen to program everything on my iPad, but I usually use it as a thin client to a Linux VPS for git and compile. I don't have a computer :(

[2016-04-25 22:36] asmagill commented on #132
I've done this as well in the past -- a good quality bluetooth keyboard and an iPad can go a long way to not needing to add a computer to your luggage when traveling, so while I don't need this feature right now, I'd definitely consider adding it a plus!

[2016-04-26 13:55] Mortiferr commented on #132
@databug Didn't consider that. Good idea, +1

[2016-05-02 04:52] bipinu commented on #177
@thedillonb Can something be done about this by contacting Apple support? Would I have to do it, or should you?

[2016-05-03 01:48] thedillonb commented on #177
Hey @bipinu, are you talking about in reference to the bug or a refund? I actually spoke to a Apple tech guy who was not quite sure why, on a restore, iTunes would return missing data. However, he did suggest an alternative that I plan on implementing in the next version - which I've already submitted to Apple for review.

If you're looking for a refund, I unfortunately can't help there. Developer

[2016-05-03 09:07] bipinu commented on #177
Not a refund! Just checking if there even a way for the issue to be resolved through code.
Will wait for the next release.

[2016-05-04 23:55] bipinu commented on #177
Hallelujah! I can see my private repos now.
Thanks, Lord Commander!

[2016-05-05 00:19] rycorkery commented on #177
why am i on this

On Wed, May 4, 2016 at 7:55 PM, Bipin Upadhyay <notifications@github.com>
wrote:

[2016-05-05 00:32] thedillonb commented on #177
@bipinu That's awesome news! Thank goodness this has been resolved. Thanks for sticking with me. I really appreicate it.

@rycorkery if you're not interested in getting notifications for this repository you may want to un-watch it.

[2016-05-05 00:32] #177 closed

[2016-05-05 02:06] TennisGazelle commented on #177
That sounds great but Mr Buchanan what I think rycorkery is trying to ask about is what happened that made him (and me as well) part of this chain.

Not that we don't see the inability to unsubscribe, but rather what did we do to get ourselves following this thread to be sure not to accidentally do this in the future.

Again. That sounds like an awesome feature fix and I'm not at all ragging about

[2016-05-05 15:35] brad-decker opened #189 "Push Notifications should follow Github Settings"
#### Currently:
I watch repositories that I want to keep track of but have my personal github settings to never send me an email unless i'm @mentioned or if i'm involved in the conversation in some way. This way i can stay up to date with repositories i'm interested in but don't have to deal with a huge inbox.

CodeHub - great app not replaceable for me - however sends me a push notification for e

[2016-05-20 11:08] shenAlexy opened #190 "[question] callback URL?"
Please help to me, How to set up the Authorization callback URL in Developer applications? I  want to sign in my App though Safari.

[2016-05-23 17:16] thedillonb commented on #190
@shenAlexy, correct me if I'm wrong, but your question doesn't seem to have anything to do with CodeHub. If you're looking to implement the OAuth flow through GitHub I suggest you check out their documentation: https://developer.github.com/guides/basics-of-authentication/

[2016-05-23 17:16] #190 closed

[2016-05-24 02:48] shenAlexy commented on #190
Okay.

[2016-05-31 06:00] liujie15838028035 opened #191 "how can i merge some commit on github pages ?"
how can i merge some commit on github pages ?
for example , commit history is:
delete file1
delete file2
how can i megege it on github pages?

[2016-05-31 12:59] KrOstir opened #192 "Resolve image links in markdown"
In CodeHub the images in markdown documents are not displayed if they have relative paths. Is this intentional?

When the images have absolute paths they are displayed. Most of the readme.md and other mds do not have absolute paths and one can not expect they will have them. I would therefore suggest to resolve the links and load also the images with relative paths.

[2016-06-05 20:20] negebauer opened #193 "Don't show organizations repositories on profile"
When I click on my profile and then on repositories it shows all my repositories and those that belong to the organizations of which I'm part

This shouldn't be like this
On my profile I should see only my repositories and if I want to see the repositories of one of my organizations I would go to said organization profile to see them

[2016-06-09 07:00] willhains commented on #119
@thedillonb Sure, but full access to *personal user data* as well? Why does it need access to that?

[2016-06-09 17:12] Mortiferr opened #194 "Getting two notifications m"
I'm getting two notifications for everything and they're the exact same thing. For example someone recently merged a pull request and I got two notifications and it's really annoying. Why is this occurring?

[2016-06-09 17:16] thedillonb commented on #194
Do you have two GitHub accounts on the app that are watching the same things? I'll can fix this on the back-end if that's not the case.

[2016-06-09 17:26] Mortiferr commented on #194
No, I just have this one which makes it kind of odd. I could delete the app and reinstall and see if that helps?

[2016-06-09 17:37] thedillonb commented on #194
I just removed the duplicate entry in the back-end registration. No clue how that happened but it registered you twice on the exact same second. I'll look into that, but for now, you should be all set!

[2016-06-09 17:49] thedillonb commented on #119
@willhains, any application, without any scopes enabled, already has access to personal user data. If you are not interested in sharing that you may not want to use any third-party application. Like I said above, GitHub will soon be implementing more fine grained control over scopes which may allow you to restrict that kind of information from the app. But for now, there's no way to avoid displayi

[2016-06-09 18:41] Mortiferr commented on #194
Thanks! Next time I get a notification I'll check.

[2016-06-09 18:52] willhains commented on #119
@thedillonb OK then I guess the GitHub authorise screen is misleading? It said something to the effect of full access to all personal data, including private email addresses, etc.

Looking at my OAuth Applications settings now, I see CodeHub has access to "Update all user data".
Also, when I authorised another app earlier today, it didn't list "full access to personal data"... which seems to contr

[2016-06-09 20:23] thedillonb commented on #119
@willhains I believe the reason that Branches doesn't ask for the "user" permission (scope) is because it has no support for user profiles nor does it have any support for followers - both of which CodeHub does have support for.

For example, in CodeHub, you can actually see your followers and can add to whom your following. Without the "user" permission (access to personal data) then the applicat

[2016-06-10 00:50] willhains commented on #119
@thedillonb I see. Thanks for the patient explanation!

One question: is the scope sent to GitHub at authorisation time? Or is it pre-registered with GitHub?

I'm wondering if CodeHub could ask the user what capabilities, and therefore what scope, they want to authorise, *before* the authorisation request is sent to GitHub. What do you think?

[2016-06-10 04:03] thedillonb commented on #119
@willhains, scopes are sent at authorization so, yes, I could ask the user before hand if they accept these privileges. The only reason I don't is because GitHub announced, a while ago, that they would be presenting the user with the same screen upon authorization - so I was hoping to wait for them to do that before I put the work into it on my side. Unfortunately, I haven't heard any news about t

[2016-06-10 04:03] #194 closed

[2016-06-10 04:03] thedillonb commented on #194
Reopen if you see a duplicate.

[2016-06-10 04:06] Mortiferr commented on #194
Fixed thanks

[2016-06-10 04:10] thedillonb commented on #191
CodeHub is not really used for Git commits. It's a tool for managing your GitHub account. I suggest you try [git2go](http://git2go.com/)

[2016-06-10 04:10] #191 closed

[2016-06-10 04:30] #193 closed

[2016-06-10 04:30] thedillonb commented on #193
Will be fixed for the next release

[2016-06-10 04:33] negebauer commented on #193
Nice! I'll be waiting for it 🙏

[2016-06-10 04:35] negebauer opened #195 "Show issue author"
On an issue there is no way of knowing who the author is

[2016-06-10 04:36] negebauer commented on #195
Oh.. clicking on it.. Ignore this

[2016-06-10 04:36] #195 closed

[2016-06-10 12:30] willhains commented on #119
Awesome. Thanks!

[2016-06-11 04:08] IAP-Reloaded opened #196 "Icon masks different"
The icon masks for Events and at the top in the left menu are different:

![](http://i.imgur.com/f1y3v4e.jpg)

[2016-06-11 04:11] IAP-Reloaded opened #197 "Star/watch/fork from appropriate lists."
In the CodeHub app, there are lists for
- Watchers
- Starrers
- And Forks.

You should be able to do that from the list itself:

![](http://i.imgur.com/vc3NdNZ.jpg)

[2016-06-13 22:20] josiahaltschuler opened #198 "There is a typo on the Go Pro! page"
On the Go Pro! page shown in the screenshot below, the word "availble" is misspelled. It should be changed to "available."
![img_0307](https://cloud.githubusercontent.com/assets/2493800/16025058/c402e226-318a-11e6-9f49-a8c4392c6f08.PNG)

[2016-06-14 03:29] thedillonb commented on #198
Haha! Great find! You work on something long enough and you completely miss the obvious things. Thanks for pointing this out. I'll fix it in the next release.

[2016-06-14 09:10] liujie15838028035 opened #199 "what about your github dev flow"
i see some  message in readMe.md .

    Fork it!
    Create your feature branch: git checkout -b my-new-feature
    Commit your changes: git commit -am 'Add some feature'
    Push to the branch: git push origin my-new-feature
    Submit a pull request :D

i also see some braches ,
i want to learn how about git dev flow ? can you tell me about your dev flow?

[2016-06-14 23:12] josiahaltschuler commented on #198
No problem, glad to help!

[2016-06-15 17:45] thedillonb commented on #199
@liujie15838028035, the description in the readme is exactly my dev flow for external contributions. You can find a more detailed explanation here: https://guides.github.com/introduction/flow/

[2016-06-15 17:45] #199 closed

[2016-06-15 23:57] liujie15838028035 commented on #199
@thedillonb  thanks!

[2016-06-16 00:08] liujie15838028035 commented on #199
@thedillonb  , i have another question to ask .
If there is a project name mainProject on github pager,   i as a user , fork this mainProejct in my github proejct(user1/mainProject),  there are some branches in this proejct,  mater, develop, test;
there are  also some tags in it, V1.0, V2.0,V3.0.   if there are some bugs find in V2.0,
i want to fixed it .  how can i use git to handle it ?
fixed th

[2016-06-16 18:12] TiernanKennedy commented on #134
@thedillonb is there a way to make this work for Orgs that have to restrict third party Apps? We have it enabled and give access to only certain Apps.

[2016-06-16 18:21] thedillonb commented on #134
@TiernanKennedy, unfortunately no. GitHub explicitly creates this limitation, on their side, to prevent unauthorized third-party apps from accessing an organization's resources. The app can't know that you belong to an organization, or access any of it's resources, unless GitHub provides that information in their API responses.

[2016-06-16 18:23] TiernanKennedy commented on #134
@thedillonb ok fair enough thanks for the update

[2016-06-16 19:24] andrewhart098 opened #200 "Authorization callback URL"
I apologize in advance if this question has been asked before or is very simple.  I'm new to Xamarin and I could not find an answer in the issues.  I did see #190, but that issue seems to have nothing to do with this app.  I'm specifically asking about CodeHub.

When trying to run the code locally I notice that GithubOAuthId and GithubOAuthSecret are not set in Secrets.cs.  When setting up an OAut

[2016-06-20 08:22] camdenorrb opened #201 "Darker theme"
Can you add a way to enable a dark theme as the current theme is stressing my eyes :c

[2016-06-20 10:08] Myfreedom614 opened #202 "Push Notification: The certificate for this server is invalid"
Settings->Push Notifications->Got exception:

**Screenshot:**
![270388200126119956](https://cloud.githubusercontent.com/assets/2476467/16190460/f31d5802-3711-11e6-8eb6-1f5ba56fb97f.jpg)

[2016-06-20 15:53] ibarnes opened #203 "iOS App Error: Unknown Secure Transport error `ClosedGraceful'"
When ever I try to commit changes I get a popup with this error message.

Unknown Secure Transport error `ClosedGraceful'

I did some searching online and it seems like an issue with calling the API via SSL. Here is a link that I found.

https://forums.xamarin.com/discussion/68802/xamarin-ios-update-unknown-secure-transport-error-closedgraceful

[2016-06-20 22:02] thedillonb commented on #202
Well, that's embarrassing. I renewed the certificate. You should be good to go. Sorry for the inconvenience.

[2016-06-20 22:02] #202 closed

[2016-06-21 18:16] ahenderson1986 commented on #202
Cheers matey

Best
Tony

On Mon, Jun 20, 2016 at 11:03 PM, Dillon Buchanan <notifications@github.com>
wrote:

[2016-06-22 04:22] thedillonb commented on #200
Ah yes, the authorization callback is simply a domain which GitHub will kick the app browser back to so it can continue with the OAuth flow. This is currently hard coded into `LoginViewController.cs` in the "ShouldStartLoad". It's set to "dillonbuchanan.com". So, technically, you could set the Authorization callback URL to "dillonbuchanan.com" and it should work. Or, you can change that domain to

[2016-06-22 04:22] #200 closed

[2016-06-22 04:26] #198 closed

[2016-06-22 04:27] thedillonb commented on #198
Fixed. Will be available in the next release.

[2016-06-22 04:36] thedillonb commented on #203
@ibarnes, are you connected to a GitHub Enterprise instance? You're right that a Xamarin change has occurred that brought rise to this issue. However, the change is that TLS 1.0 is no longer supported - which might be what you're hitting. If you're using a GitHub Enterprise instance, check what version of TLS the instance is using.

[2016-06-27 01:31] thedillonb opened #204 "Search for commit by sha"

[2016-07-04 16:25] brencerddwr commented on #203
I am having the same problem and I am not on an enterprise account. I am using a free personal account on github.

[2016-07-05 03:13] thedillonb commented on #203
Hmm, that's unfortunately. If @brencerddwr is getting this when he connects to GitHub.com then there is something wrong with that update. I'll look into this ASAP.

[2016-07-08 03:25] giraam opened #205 "Switching off "Save Credentials" option won't let you log in again"
1. Switched off the "Save Credentials" options.
![20160708_030530000_ios](https://cloud.githubusercontent.com/assets/630966/16676500/9d65b2bc-4498-11e6-8edc-b3acff259d3e.png)
2. Closed the app
3. Opened the app and account selection screen only
4. Selected saved account
5. Entered user and password at Github page
6. Account selection screen again forever, doesn't matter how many times repeated Ste

[2016-07-09 18:21] jeff1evesque commented on #205
I have the same problem. However, I didn't have to uninstall the entire application. Instead, I just deleted my *Account*, and then in the same application recreate the same application.  However, like @giraam, I cannot have *Save Credentials* turned off.  This is important to me, because I have the paid subscription of this application, and I want my application to log off, if I'm not active on t

[2016-07-09 22:06] jeff1evesque opened #206 "Add passcode login screen"
On a similar not as #205, this application should implement a passcode lock.  If someone goes to another application on the iOS device, and returns, they should be prompted with a passcode, or maybe a thumb print scan.  This should be similar to Dropbox's implementation:

![image](https://cloud.githubusercontent.com/assets/2907085/16710526/d126af80-45ff-11e6-8f15-246b3181f25b.png)

[2016-07-09 22:48] giraam commented on #206
+1

And not only for premium accounts, please! It's a matter of privacy and security.

[2016-07-09 22:56] thedillonb commented on #206
I think this is a wonderful idea. And to @giraam's point, I'd make it available to everyone.

[2016-07-09 22:58] thedillonb commented on #205
So, I have a question. If I implemented a passcode (#206) would you still want the "save credentials" feature? I haven't really come across many apps that allow you to "forget" your credentials (unless you delete the account in the app, of course). Rather, a lot of apps have a passcode lock that pretty much does the same thing as this feature which I think is a better user experience.

[2016-07-09 23:36] jeff1evesque commented on #205
I think it's less important as you have mentioned, since the passcode implementation is more mainstream.  However, the current feature could be adjusted, such that if a user timesout, they have to reauthenticate.  But, like the current existing feature (which it may replace), it would be an optional setting the user can choose.  By default, would be off.

[2016-07-10 04:49] The-Wolf312 opened #207 "Feature Request: Is it possible to use iOS's keychain for passwords?"
I'd like to be able to use keychain to access stored passwords in Firefox.

[2016-07-10 04:50] #207 closed

[2016-07-10 14:54] jeff1evesque commented on #188
+1, I'm addicted to github, same here.

[2016-07-10 14:58] jeff1evesque opened #208 "Ability to 'edit' comment, or issue"
I think the author of an issue, or comment, should be able to edit their statement. For example, the browser version has this ability:

![edit](https://cloud.githubusercontent.com/assets/2907085/16714318/21b0262e-468d-11e6-9a98-589fad913e2b.PNG)

I'm prone to typing faster than my grammatical abilities, and always find myself fixing my language.

[2016-07-15 07:25] puXiaoyi opened #209 "why codehub ios pad client cannot support download source code?"
i can download source code in iPhone using CodeHub client for offline reading. but in iPad, the CodeHub client is different, i cannot find download entry. i felt so disappointed, because iPad is bigger than iPhone , and more suitable  for people to read code than  iPhone. how can i read offline code in iPad.
i am a chinese, sorry for my poor english. thank you.

[2016-07-18 14:42] thedillonb commented on #209
Hello @puXiaoyi, CodeHub is not a **Git** client so it does not provide offline viewing of source code. CodeHub is a **GitHub** client so offline code viewing is not a current feature as managing your GitHub account always requires internet access. If you're looking for a Git offline client then I suggest checking out http://git2go.com/. It's a great app that allows you to pull down your code and

[2016-07-18 14:42] #209 closed

[2016-07-21 04:27] PinkD opened #210 "customize my own code color style"
I hope there is an option to customize my own code color style just like IDEs.

[2016-07-24 04:41] thedillonb commented on #163
Unfortunately, I cannot think of a mechanism to fulfill this request. It's not that I purposefully change code locally but a post-deploy step is to actually fill in secret API keys necessary for the operation of the app. Just that technically diverges the code from what's checked-in here and thus, invalidates any chance of me somehow creating a cryptographically hash to prove code equality.

I'm c

[2016-07-24 04:41] #163 closed

[2016-07-26 19:01] stm-dev commented on #203
3 Weeks and still no update? :/

[2016-07-26 19:24] thedillonb commented on #203
An update is coming. I am still waiting on a fix from Xamarin (https://bugzilla.xamarin.com/show_bug.cgi?id=41206). I am not excited about downgrading to TLS 1.0 to resolve this issue, as some have suggested, but will if there is no word from them with the week.

[2016-07-28 15:54] Prouser123 opened #211 "Many Errors when using the app"
When I signed in, Failed
When I updated a README, Failed

This probably should be fixed.

[2016-07-28 18:23] thedillonb commented on #211
What exactly failed?

[2016-07-29 04:21] thedillonb commented on #203
Just pushed an update to Apple to resolve this issue (2.9.5). Expect this to be public within a few days.

[2016-07-29 04:21] #203 closed

[2016-07-29 22:56] MichaelHancock opened #212 "Make links in Repo description clickable"
Often devs add a website pertaining to their repo in the description. It would be good if you could click these links and have them open in the default browser.

[2016-07-29 23:47] travisxcode commented on #212
I'm sorry if this is in the wrong spot, but I need help. I've unsubscribed from getting emails, and I've also muted this thread, to no avail. What do I need to do in order to stop being contacted about CodeHub?

Sent from my iPhone

On Jul 29, 2016, at 5:57 PM, Michael Hancock <notifications@github.com<mailto:notifications@github.com>> wrote:

Often devs add a website pertaining to their repo in t

[2016-07-30 01:22] geo1088 commented on #212
@traviscode Mute the repo instead of just the issue. From the repo's main page, click the "watch" button, then the "mute" option.

[2016-07-30 01:24] travisxcode commented on #212
Thank you so much!

Sent from my iPhone

On Jul 29, 2016, at 8:23 PM, Geo1088 <notifications@github.com<mailto:notifications@github.com>> wrote:

@travisxcode<https://github.com/travisxcode> Mute the repo instead of just the issue. From the repo's main page, click the "watch" button, then the "mute" option.

-
You are receiving this because you were mentioned.
Reply to this email directly, view it

[2016-07-31 02:01] thedillonb commented on #210
Consider it done for the next release!

[2016-07-31 03:20] smileytechguy commented on #210
@thedillonb dang, thats great!  excited!

[2016-07-31 17:59] jeff1evesque opened #213 "Generate link of current codehub page"
It would be nice if one could generate link of the current page visited, on the codehub application.  For example, in Dropbox, you can generate a hyperlink of the file opened:

![image](https://cloud.githubusercontent.com/assets/2907085/17278227/01d6cf84-5726-11e6-97ad-73656f8e53dd.png)

This is useful, if one needs to share particular resources from a repository:

![image](https://cloud.githubuse

[2016-08-05 03:39] thedillonb commented on #211
Closing unless you can provide additional detail about what exactly is failing.

[2016-08-05 03:39] #211 closed

[2016-08-06 02:27] smileytechguy opened #214 "No functionality whatsoever on 8.4"
I am running iOS 8.4, and cannot update due to jailbreak on a 32-bit device.  I am running the latest version that is compatible with 8.4, version 2.3.8.  Owned, starred, and trending show lists, but no repositories load.  I can't see any notifications either.

[2016-08-06 23:55] thedillonb commented on #214
Are there any errors that pop up? Or is it just empty when you view the repositories or notifications?

2.3.8 was a while ago so a drastic amount has changed since then. However, nothing in terms of the API has changed so the fact that some of it's not loading is very peculiar. I'm not sure what I'll be able to do, code wise, as to support iOS 8 again means that I'd have to cut functionality out o

[2016-08-07 02:06] smileytechguy commented on #214
No errors, just nothing.  It may say "No repositories" or "No notifications", and the repository loads as a blank page
I have tried reinstalling

[2016-08-09 02:30] smileytechguy opened #215 "How to open/compile in Xcode"
Hi,
I can't figure out how to open this in Xcode
Thanks

[2016-08-09 13:41] MaXwellFalstein commented on #208
I have been slowly working on this possibility. I have some functionality, but I need to make sure only the poster can edit their issue or response.

[2016-08-09 13:42] MaXwellFalstein commented on #206
Can this include TouchID for the TouchID iPhones? Thank you!

[2016-08-09 15:16] MaXwellFalstein commented on #176
This would be a superb feature for all users.

Working on trains without Wi-Fi becomes so much easier without having to have 4G come in and drop all the time.

[2016-08-09 15:18] MaXwellFalstein commented on #162
I believe it is coming or is here now; is this something you are working on?

[2016-08-09 15:20] MaXwellFalstein commented on #137
@thedillonb this is still happening with Gists. It creates the file somefile.md along with _some_file.md and / or _somefile.md.

[2016-08-09 15:23] Hawaiideveloper commented on #162
Hello?

What are you trying to do?

On Tuesday, August 9, 2016, MaXwell Falstein <notifications@github.com>
wrote:

[2016-08-09 16:45] MaXwellFalstein commented on #162
@Hawaiideveloper I was responding to @thedillonb's most recent comment regarding subscriptions not being part of the official GitHub API.

[2016-08-09 17:59] thedillonb commented on #162
@MaXwellFalstein, I still don't see the ability to subscribe in the GitHub API docs. Do you see something I don't? When it becomes available I can add it within a day but can't work on this until they implement the API.

[2016-08-09 18:00] thedillonb commented on #215
This is not an XCode project, it's a Xamarin project: https://www.xamarin.com/platform.

[2016-08-09 18:00] #215 closed

[2016-08-09 18:57] thedillonb commented on #214
@smileytechguy I'm closing this as there's no possible way for me to correct this from a code perspective. The App Store gives me no tools to release a new version targeted at a lesser version without disrupting the current version for everyone else. I can't make the app iOS 8 supported again because it has features in there that are iOS 9 dependent so I'm stuck.

I'm not sure why you're seeing is

[2016-08-09 18:57] #214 closed

[2016-08-11 08:16] MaXwellFalstein opened #216 "Linking Issues"
# Linking Issues for Future Pull Requests

When a new suggestion or a pull request is made which fixes one or more issues, it is good practice to mention the issue by its number.
When this is done, it is not hyperlinked at the moment. Is it possible to add this?

[2016-08-11 08:19] MaXwellFalstein commented on #162
@thedillonb I know GitHub said early summer 2016, I thought it was already in place. It might be late or still in testing - would you like me to ask GitHub?

It will be excellent when it does get published to the API.

[2016-08-11 08:21] MaXwellFalstein opened #217 "Issue User & Comment User Linking"
I would like to be able to see what some of the people commenting on issues get up to on their GitHub profiles by looking at their repositories. I cannot do this at the moment because the profile name and picture are not hyperlinked.

Please can we change this to make it seamless?

[2016-08-11 08:25] MaXwellFalstein commented on #210
@thedillond is it possible to extend this with issue #201 by adding an ability to alter every colour in the theme.cs file via settings?

It would be awesome to the able to upload a public or private gist file called theme-mod.cs that could be loaded into the app direct from GitHub to change theme.cs, but not replace theme.cs. That would semi automate the whole process.

I am thinking the main use

[2016-08-11 08:31] MaXwellFalstein commented on #206
@thedillonb - four and six digit passcode and custom length passphrase would be great.

An extension could be to add CodeHub specific Google Authenticator based two step authentication.

[2016-08-14 16:03] MaXwellFalstein opened #218 "Open In Chrome or Safari Button on Every View"
Open in Chrome or Safari button on every view.

Simple button would be able to do it, but I would like Google Chrome and Apple Safari to be in the link along with the default options for opening it in installed apps.

[2016-08-16 14:34] docwhat opened #219 "Allow creating Enterprise accounts with just a token"
Some GitHub Enterprise installations have custom SSO solutions.  Instead of trying to support all types of SSO, etc. I propose that CodeHub should take a URL and a token that the user has to create.

This is a little more annoying, but much more flexible.

[2016-08-17 03:23] thedillonb commented on #219
Good suggestion. As a ironic cheat, you can actually create a token and use it as your "password" when you create your enterprise account.

[2016-08-17 11:00] wuyongjun commented on #219
hh

发自 网易邮箱大师
在2016年08月17日 11:23，Dillon Buchanan 写道:

Good suggestion. As a ironic cheat, you can actually create a token and use it as your "password" when you create your enterprise account.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-08-17 19:43] docwhat commented on #219
@thedillonb: That's what I tried to do.  However, the SSO prevented it by trying to redirect to a host that isn't accessible outside our firewall.

[2016-08-19 20:34] mehmetgoksu commented on #171
still waitingg

[2016-08-29 14:26] ELLIOTTCABLE opened #221 "Huge swathes of comments on a long Issue don't load"
So, regularly, scrolling through the comments on an Issue, the comments will stop rendering halfway-ish through:

![rendering failure, half-empty page of comments on iOS](http://i.ell.io/14QVl+)

(Note the position of the scroll-bar on the right!)

I'm on the iOS 10 beta.

[2016-08-29 14:27] ELLIOTTCABLE commented on #221
(Issue in the screenshot: Dropbox/hackpad#51.)

[2016-08-29 14:32] thedillonb commented on #221
Whoa! Is that a public issue I could take a look at to reproduce?

[2016-08-29 16:52] ELLIOTTCABLE commented on #221
@thedillonb this applies to basically every Issue I view; but I linked the specific one above.

(While we're at it: that link *also* isn't rendering in the app; does it not support GFM? … Should I submit this as a separate Issue? :P)

[2016-08-31 06:37] MaXwellFalstein commented on #186
How is this going?

[2016-09-15 18:19] sclukey commented on #167
@thedillonb I have this issue as well. I'd hate to think you need to manually fix this every time it happens, perhaps you could automate a check and fix for this? Or I guess figure out why it is happening to begin with. Anyway in the meantime could you fix this for me? :)

[2016-09-16 03:08] thedillonb commented on #167
@sclukey, the the problem is unfortunately the db which requires a bit of work to swap out persistence stores - so I haven't finished that yet. In the mean time, you should be all set.

[2016-09-16 12:53] docwhat commented on #221
Docker has lots of long issues that trigger this bug.

[2016-09-16 17:57] RolfKoenders commented on #221
I encounter this on allot of issues. Not specifically long ones. Also on this particular issue..
iOS 10 GM
iPhone 6S Plus

[2016-09-19 11:03] tommy-muehle opened #222 "Username not shown"
Hi,

to begin, thanks for this amazing App. I use it every day.

Today i saw a small bug in the news section. I missed the name of a contributor which was added to a repository. See these screens for more details:

iOS App:
<img src="https://cloud.githubusercontent.com/assets/1351840/18629803/5cfd608a-7e68-11e6-93c8-b11014ae855b.PNG" width="250">

Github on Desktop:
<img width="500" alt="bildschir

[2016-09-19 12:34] Shree90 opened #223 "Locking code"
Any way I can lock code when I'm performing function like Commiting a code or so? No other person is able to work on it till commit is made.

[2016-09-19 12:47] thedillonb commented on #223
This is more of a GitHub feature request than a suggestion for CodeHub. Unfortunately, GitHub does not provide such a mechanism to lock your code - at least that I'm aware of.

[2016-09-19 12:47] #223 closed

[2016-09-19 12:48] thedillonb commented on #222
Ah great catch!

[2016-09-19 23:55] MarseilleDev opened #224 "Photo"
# Where is my profile photo? ![](http://i.imgur.com/XeW9jeF.jpg)

[2016-09-21 18:00] AlecRust commented on #221
Also getting this on most issues, iOS 10 iPhone 6S.

[2016-09-21 19:06] ibarnes commented on #203
Sorry guys I had notifications off on the app and the email went to my spam folder. I'm no longer having this issue. Did you guys fix it?

[2016-09-21 19:08] thedillonb commented on #203
Yeah it's been fixed.

[2016-09-23 03:17] cabarria commented on #219
I have the same problem. Is there anyway to configure the app to connect to GHE installations using SAML?

[2016-09-23 03:20] cabarria commented on #171
Bump!

[2016-09-23 12:37] PaoloLeva opened #225 "Listing of issues incomplete"
1. The list of issues assigned to me that i see in CodeHub is incomplete compared to what I get here: https://github.com/issues/assigned
2. I also would like to have in the CodeHub App a direct link to assigned issues without going to Issues and configure the "Custom" tab each time, which is the only way I found to get to the list.
I am a premium user, if this makes any difference, and i use the i

[2016-09-23 17:26] eshirima opened #226 "Endless Cycle"
[Video](https://goo.gl/DrbmCT) Proof

[2016-09-25 03:23] MikeHolder commented on #225
Can you give a sample of what you're missing?

[2016-09-29 08:30] PaoloLeva commented on #225
here is an example on how the website lists 2 issues assigned to me (correct) while CodeHub only one.
![codehub assigned](https://cloud.githubusercontent.com/assets/11208831/18946554/b97c3eca-862f-11e6-843e-4224e29786ab.png)
![github assigned web](https://cloud.githubusercontent.com/assets/11208831/18946555/b9835020-862f-11e6-80b2-03cb871def48.png)

[2016-09-30 16:26] menshiyun opened #227 "Pin to slideout menu auto disappear"
It will automatically disappear in slideout menu when i open codehub next time.
fix pls.
CodeHub Good APP.

[2016-09-30 17:12] thedillonb commented on #227
Yikes. I'll fix that ASAP.

[2016-10-02 15:47] controversial opened #228 "Projects"
Once the Projects API stabilizes, will CodeHub support it? I see a great potential here for a nice touch interface, push notifications, etc, just like the Trello app has.

[2016-10-02 17:05] covyta opened #229 "Fix iOS revoked"
Fix

[2016-10-03 01:01] thedillonb commented on #229
Is there an issue here?

[2016-10-03 01:02] thedillonb commented on #228
Absolutely. I'm personally pumped about Projects so you can be assured CodeHub will support it!

[2016-10-03 01:03] thedillonb commented on #226
Is there something wrong with that? What would you expect to happen?

[2016-10-03 01:04] controversial commented on #228
Awesome. Glad this is actively maintained

On Sun, Oct 2, 2016 at 9:03 PM Dillon Buchanan <notifications@github.com>
wrote:

[2016-10-03 01:30] eshirima commented on #226
Shouldn't there be a safeguard of some sorts? Meaning while looking at repo contributors, I should not be able to click on myself.

[2016-10-03 16:28] eshirima commented on #226
Since we know for a fact that all repos will contain `currentUser`, then why not simply disable user interaction on the cell that has `currentUser`?

[2016-10-03 18:33] bgrainger commented on #221
I'm seeing this with CodeHub 2.9.7 on iOS 10.0.2. Sample issue is bgrainger/MySqlConnector#67

![img_8604](https://cloud.githubusercontent.com/assets/188129/19048941/3af0d2ec-895d-11e6-8088-da0ba934cb6c.PNG)

[2016-10-03 19:40] thedillonb commented on #221
Fix is inflight. I'll submit it to Apple tonight. Hopefully you'll have a fix mid week. Sorry for the delay.

[2016-10-03 19:40] #229 closed

[2016-10-03 19:40] thedillonb commented on #229
Not sure if there is an actual issue here. Re-open if there is.

[2016-10-03 19:47] thedillonb commented on #226
I see where you're coming from, but I'm unsure if there is any harm in allowing the user to navigate back to himself. Much like in the browser, GitHub doesn't prevent you from going into your own repositories, clicking on your own name, going to your repositories, clicking on your own name, etc... Even in the app, if I go to one of my repositories, should I be disabled from clicking on my own prof

[2016-10-05 03:30] #227 closed

[2016-10-06 03:56] thedillonb commented on #221
This should be all set now in the latest version that was just released to iTunes. It happened to be an iOS 10 bug that other developers have also seen. I believe there is even a Radar filed against Apple for this issue. I've managed to work around it via a suggestion on StackOverflow. Hopefully this completely resolves the issue for all users.

[2016-10-06 03:56] #221 closed

[2016-10-06 03:58] thedillonb commented on #226
Closing this as I believe the current functionality is operating correctly.

[2016-10-06 03:58] #226 closed

[2016-10-07 06:14] pietrocaselani commented on #170
I have pro upgrade enabled but still can't see the organization private repos. And CodeHub isn't showing up on Third-party application access policy.

[2016-10-07 14:51] controversial opened #230 "Search"
Not sure whether there's an API for standard github search, but it'd be nice to have.

[2016-10-11 08:53] MaXwellFalstein opened #231 "Organisations Not Updating"
The organisation menu and organisation view are not updating the list of organisations.

I used to be in two organisations, now I am in four.

GitHub.com sees I am part of the four organisations, but CodeHub sees I am in two and will not let me edit anything on the two newer organisations.

[2016-10-11 09:33] MaXwellFalstein opened #232 "Private Corporate CodeHub"
Hi @thedillonb,

Would you entertain the idea of allowing a few people or everyone to create their own version of CodeHub for corporations?

I would be adding graphics and changing the look of the app, but it would be the same underneath.

Thanks,
MaX.

[2016-10-12 13:50] thedillonb commented on #231
Do you happen to know if "Third-Party Access" is enabled on those two other organizations? (https://help.github.com/articles/enabling-third-party-application-restrictions-for-your-organization/). This is almost always the case with CodeHub not seeing, or allowing you to edit, organization resources. When CodeHub asks GitHub for the organizations, if they're third-party disabled, it won't even retu

[2016-10-12 14:24] MaXwellFalstein commented on #231
Third party access is enabled on the other two organisations.
I cannot get CodeHub to request access as I do not want to open up the two organisations to all third parties.
CodeHub should request access for third party access to be granted, but I cannot get it to work. Is this something you would need to add or is it part of the system already?

[2016-10-12 18:24] thedillonb commented on #231
CodeHub cannot request third-party access for organizations it doesn't know about. GitHub implemented third-party restrictions to explicitly prevent unauthorized apps from accessing *anything* about specific resources. Unfortunately, there isn't anything the app can do. You, as a user, have to explicitly request access to the organization for an application.

[2016-10-13 09:48] MaXwellFalstein commented on #231
Okay, where is the ability to explicitly request access to the organisation for the application?

From what I can see it just shows me what my personal applications are when on the organisation screen. It goes back to my settings not authorising the organisation applications.

[2016-10-13 14:03] MaXwellFalstein commented on #231
I have worked out what is going on and everything is fixed.

All four organisations needed re authorising on https://github.com/settings/applications.

[2016-10-13 14:03] #231 closed

[2016-10-14 22:36] ghost opened #233 "User profile photo"
# Why my profile photo dont show in the program?

![Safari](http://i.imgur.com/6rsI8Nk.jpg)

![CodeHub](http://i.imgur.com/gHeQ1zT.jpg)

iPhone 4s.

[2016-10-15 13:57] thedillonb commented on #233
I can't explain why your image doesn't load. Even on my device, yours out of all the users I've crossed is the only one that doesn't load. I'll continue to investigate why.

[2016-10-15 13:57] thedillonb commented on #224
Closed via #233

[2016-10-15 13:58] #224 closed

[2016-10-15 14:00] thedillonb commented on #232
Why would that benefit the corporation? A corporation, or someone, would now have to maintain the fork of the project as well as the distribution of the app. Do you think that would be worth the work? Are you aware of any other apps doing something similar?

[2016-10-15 14:01] thedillonb commented on #48
Haven't seen this one in a while. Closing as fixed unless it pops up again.

[2016-10-15 14:01] #48 closed

[2016-10-15 14:06] thedillonb commented on #33
Closing as the current "Close" functionality is sufficient. The problem with the above approach is that a large number of comments pushes the open and close buttons far down the view. The button in the top right drop down is quicker to reach rather than scrolling down.

[2016-10-15 14:06] #33 closed

[2016-10-15 14:11] MaXwellFalstein commented on #232
You are exactly correct.
It would take maintenance with every update you make; however, it would give a personalised GutHub app for the organisations who wish to have their own GitHub app.

I cannot give you the names, but there are a few I have informed of your app.

I have already suggested just downloading the app, they want their own graphics for when they distribute it to employees and potent

[2016-10-15 14:34] MarseilleDev commented on #224
# See, if I change the picture on different picture, it is displayed in the program.

![GitHub](https://cloud.githubusercontent.com/assets/19198757/19410802/8f6335a0-92fd-11e6-8081-7774295932b1.png)

![CodeHub](https://cloud.githubusercontent.com/assets/19198757/19410803/8f66f226-92fd-11e6-9b36-590018a2a6cc.png)

[2016-10-15 14:36] MarseilleDev commented on #233
# See, if I change the picture on different picture, it is displayed in the program.

![GitHub](https://cloud.githubusercontent.com/assets/19198757/19410816/cc03c128-92fd-11e6-8d3e-fb005ffc946f.png)

![CodeHub](https://cloud.githubusercontent.com/assets/19198757/19410817/cc0d473e-92fd-11e6-9d91-1e09cc9902e2.png)

[2016-10-15 14:44] MaXFalstein opened #234 "Not all repositories showing up and cannot search for them."
I have 140 odd repositories.

Only 100 of them are showing up.

I cannot search for any repository starting with a P or further down the list.

This is the same in my account and my organisations with more then 100 repositories.

[2016-10-15 14:44] MaXwellFalstein commented on #229
It should be absolutely fine.

[2016-10-18 10:42] pietrocaselani commented on #173
I have pro upgrade enabled but still can't see the my or organization private repos. And CodeHub isn't showing up on Github Third-party application access policy.

[2016-10-18 11:33] lukecastle commented on #173
Hi,

Sorry To Hear This. I Will Research For You With Issue.

Luke

________________________________
From: Pietro Caselani <notifications@github.com>
Sent: 18 October 2016 11:42:57
To: thedillonb/CodeHub
Subject: Re: [thedillonb/CodeHub] Some of my own (private) repositories missing (#173)

I have pro upgrade enabled but still can't see the my or organization private repos. And CodeHub isn't showi

[2016-10-31 12:21] yulhun opened #235 "chinase language pls"

[2016-11-01 17:15] christopherthielen commented on #189
I have to disagree with this. I don't need a push notification for a github email, because I already get an email notification.

I like the current behavior where I get all notifications pushed, but only emails for conversations I have participated in.

[2016-11-01 17:23] brad-decker commented on #189
It makes it impossible for me to use notifications on this app. I have my
email preferences set to "only if mentioned" so that I can watch
repositories and not get an email for every PR / issue / comment etc. this
way I can stay up to date on things like React and Node, without thousands
of emails. Regardless of my settings I still get a push notification for
everyone of them making me either have

[2016-11-01 17:24] christopherthielen opened #236 "Duplicate push notifications"
this is a dupe report of #167

I am getting three notifications, can you check my account in the database?

----

@thedillonb thanks a lot for maintaining code hub. I use it all the time!

[2016-11-01 17:24] mikeerickson commented on #189
I would agree, the current method CodeHub issues notifications is perfect.

[2016-11-13 10:17] menshiyun opened #237 "auto logout"
variable interval auto logout.
and seems don't save information.

[2016-11-13 13:43] cstuder commented on #236
Hello, I'm affected too. A couple of weeks ago I started getting notifications three times in a row.

Today they started showing up four times in a row.

![november_13__2016_at_0239pm](https://cloud.githubusercontent.com/assets/288493/20246077/70f9d7e0-a9af-11e6-9c47-c29570cb95c5.png)

[2016-11-14 16:12] christopherthielen commented on #236
I uninstalled, then re-installed CodeHub.

I "restored purchases" and re-enabled notifications.  I'm back to one push notification per event.

cc: @cstuder

[2016-11-14 16:23] thedillonb commented on #236
I've been rewriting the backend for push notifications as this is a a race condition in the sqlite database that's being used when requests come in quickly for the same user. I should have this all sorted out by the end of the week. Sorry for the inconvenience.

[2016-11-24 03:37] tangguanglei commented on #209
@puXiaoyi  how can you download code in iPhone?

[2016-11-24 06:34] littleglass commented on #209
i just copy  and paste.
 or  you  can open by WPS  and then share by qq.

  i don't  know other methods any more.

[2016-11-24 08:00] marktopper opened #238 "[Feature Request] Linking to references?"
Currently it seems that it can not link to references (according to the newest iOS application).

### What I mean with references?
A reference is like this #1

[2016-11-24 18:39] MarseilleDev opened #239 "Bug with of organizations."
# Where is this my organization?
![Profile](http://i.imgur.com/NJLINU4.jpg)
![Events](http://i.imgur.com/BPX25xW.jpg)

[2016-11-30 11:09] arnoldse commented on #170
I have the same issue - upgraded to Pro. But I can't see the organization private repos, either... And CodeHub isn't showing up on 3rd part app access as well.

[2016-12-01 01:31] thedillonb commented on #239
Is your organization restricting third-party access? That would by why its not showing up in the app.

[2016-12-01 01:37] thedillonb commented on #170
Do the organizations belong to you? There's an easy way to grant access if it's not showing up. Go to your settings page (https://github.com/settings/connections/applications), applications, then click on `CodeHub`. At the bottom you'll see your organizations with a button allowing you to grant access to it.

<img width="855" alt="screen shot 2016-11-30 at 8 37 20 pm" src="https://cloud.githubuser

[2016-12-01 01:42] thedillonb commented on #201
A darker theme is planned. I am tracking it via #127

[2016-12-01 01:42] #201 closed

[2016-12-01 02:53] #237 closed

[2016-12-01 02:59] #196 closed

[2016-12-01 05:17] susu79 commented on #239
sorry ，I'm Chinese ，so I don't understand。

发自网易邮箱 iPhone 版
在2016年12月01日 09:31，Dillon Buchanan 写道:

Is your organization restricting third-party access? That would by why its not showing up in the app.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-12-01 05:24] llity commented on #239
@susu79 为你的组织是不是不允许三方应用获取访问权限...

[2016-12-01 06:26] wolfgangbaums commented on #239
please delete me from this stuff

[2016-12-01 06:26] wolfgangbaums commented on #196
please delete me from this stuff

[2016-12-01 06:27] susu79 commented on #239
ok！please wait

sorry

发自网易邮箱 iPhone 版
在2016年12月01日 14:26，wolfgangbaums 写道:
please delete me from this stuff

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-12-01 16:39] thedillonb commented on #239
@wolfgangbaums simply un-watch the repository if you no longer want to receive notifications. We can't do that for you.

[2016-12-04 22:14] evgenykochetkov opened #240 "Can't see freshly created issues after using search"
This probably is related to issue #183.
How to reproduce:
- Open issues view, you see N issues
- Create a new issue, now you see N+1 issues
- Type something in search field, see filtered issues
- Clear search field
- Can't see your freshly created issue from step 2, only N issues is visible

[2016-12-05 20:38] moshed commented on #34
i would love to be part of the beta as well moshedancykier at gmail.com

[2016-12-05 22:18] arturomc commented on #34
I would like to be part of the beta too, 4rturomc AT gmail DOT com, a big fan of your app already

[2016-12-06 04:12] smileytechguy commented on #34
smileytechguy@smileytechguy .com pls

[2016-12-07 15:26] arnoldse commented on #170
Oh, thanks for this info! Now, it works for me!

[2016-12-09 03:15] mbuitendag4 opened #242 "Me1"

[2016-12-09 03:24] thedillonb commented on #242
What?

[2016-12-09 03:25] #242 closed

[2016-12-12 20:14] erf opened #243 "iOS crashes on start"
iOS crashes on start every time. I see the splash screen, and then the person-icon, before it crashes. When i double click the back button, the app is still open, but once i select it, it crashes again.

The last thing i remember doing in the app, was trying to open a web page.

Here is the first part of the log from `XCode`.

[code]

[2016-12-12 20:33] erf commented on #243
It works after reinstall. Feel free to close this issue.

[2016-12-13 23:26] thedillonb commented on #243
Wow. That's really odd. I'm going to keep this open and see if I can reproduce this somehow. Thanks for reporting it and thanks for the stack trace!

[2016-12-13 23:27] thedillonb commented on #239
Closing this as organization access unavailable to CodeHub if the user does not grant explicit access to it - it's completely invisible to CodeHub.

[2016-12-13 23:27] #239 closed

[2016-12-13 23:31] thedillonb commented on #236
@christopherthielen @cstuder, are you guys still seeing duplicate notifications? I purged the database of duplicate entries so you should have been seeing only one notification for a few days now.

[2016-12-13 23:35] christopherthielen commented on #236
@thedillonb I'm only getting 1 notification now.

--

FYI, every once in a while, codehub forgets my credentials and presents me with the "new account" screen.  Each time I re-entered my github credentials it asked if I wanted to receive notifications, and of course I kept saying "yep!"  I assume this is the reason I was getting the duplicate registrations.

[2016-12-14 00:04] thedillonb commented on #236
@christopherthielen there was a bug in the previous version where the credentials were accidentally getting wiped that is resolved in the latest version in the app store. Are you on that version, and if you are, are you still seeing that?

As for your second point, that's most likely a bug. Saying "No" is currently just telling iOS not to produce a push notification token for the backend. However,

[2016-12-14 00:04] #236 closed

[2016-12-26 05:27] wooowooo opened #244 "on repo page, topright button usually refuses to work"
topright button doesnt show the menu containing "star", "watch","share" etc

on ios 9.3.3

[2016-12-26 05:37] wooowooo commented on #244
seconds after openning repo page ,the star icon shows then the button works.

[2016-12-26 08:30] madeny opened #245 "Auto Subscribe user!!"
Hi,
Every time I use the app on my iPhone I start to get notification I tried to disable it a few time but I'm still subscribed. plus fix that.

[2016-12-26 08:33] LuuuuuG commented on #245
Excuse me?
On 12/26/2016 16:30, Madeny Diawara wrote:

Hi,
Every time I use the app on my iPhone I start to get notification I tried to disable it a few time but I'm still subscribed. plus fix that.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-12-26 23:44] madeny commented on #245
I did already! but still getting notification I never subscribe or start  any issue related  CodeHub before.

so I know what I'm talking about. so I can continue muting or disabling the thread that I'm not interested in.

I've been dealing with it a few months  but now I'm tired so please investigate in instead of giving some GPs.

[2016-12-27 02:54] thedillonb commented on #245
Deleting comment from LuuuuuG since it adds no value.

@madeny, users are not auto subscribed to notifications. If you're referring to iOS push notifications then you can simply disable them in Settings if you'd like. If you're referring to GitHub notifications (emails) from the CodeHub repository then you can simply "Unwatch" the repository.

[2016-12-29 18:40] #245 closed

[2016-12-30 01:15] wooowooo opened #246 "on issue page can not click user name to seek people"

[2016-12-30 03:41] ThatSpaceGuy commented on #245
Hello @thedillonb, I believe @madeny is referring to the fact that once a
user logs in to the CodeHub app for the first time, they are suddenly
e-mail subscribed to every GitHub issue for the CodeHub repo (maybe only
new issues?).  I myself was dismayed to find that I started receiving
e-mail updates (not app notifications) for multiple GitHub threads without
any opt-in.  I deleted the CodeHub app

[2016-12-30 03:48] ThatSpaceGuy commented on #245
Sorry, I missed your instructions to Unwatch the repo.  I have done that
now.  Thank you.

On Thu, Dec 29, 2016 at 9:40 PM, Luis H. Matos <reachluis@gmail.com> wrote:

[2016-12-30 04:49] thedillonb commented on #245
@ThatSpaceGuy the app doesn't sign you up for anything automatically. When you first started the app, it it prompted you with it's little welcome screen. Did you happen to hit the "Watch" button on the "CodeHub is Open Source bla bla bla" page? If you did, then it does add you as a watcher of the repository. Just like if you hit the "Star" button it would have starred the repository for you.

[2016-12-31 04:35] #222 closed

[2016-12-31 04:38] thedillonb commented on #243
I cannot, for the life of me, reproduce this. I'll keep an eye out for it but I'm going to close this for now until I see it again.

[2016-12-31 04:38] #243 closed

[2017-01-02 00:01] adrianbrink opened #247 "Create an entry in the README to explain how to enable Organizations"
@thedillonb

What do you think about updating the README or creating a wiki to explain to users how to enable them to show their Organizations. I came across #239 and then realised that I had to go into the github settings and enable access explicitly.

[2017-01-04 21:56] mikeerickson opened #248 "Dark Theme"
Any chance one of the contributors has worked on (or working on) a dark theme for CodeHub?

If not, would such a PR be acceptable?

[2017-01-10 18:07] DavidHaslam opened #249 "Add long press option to edit existing issues, comments, etc."
Other iOS apps such as Facebook have a long press action that gives access to edit or delete comments and replies.

This would be a neat way to add this feature in CodeHub.

[2017-01-11 01:32] DavidHaslam opened #250 "Add option in the issues share menu to Close the issue"
It would make sense to provide an option for an issue to be closed.

Would it be feasible to add such an option to the Share menu while an issue is displayed?

GitHub itself also provides a combined control button to Comment and Close.

[2017-01-11 01:49] thedillonb commented on #250
This already exists under that action button. Are you not seeing it? ![](http://i.imgur.com/oIoM1AW.jpg)

[2017-01-11 07:53] thatHexa commented on #249
Long presses wee not "the iOS way"; There should be a way to access additional options using swipes or 3D touch (on iPhone 6/6s and 7/7s).
For example, maybe swiping left on an issue in the issues list would reveal an edit option, and swiping rught would reveal delete/close. And maybe if you press the issue with pressure (using 3D touch) it would open a little dialog with the latest comment and a

[2017-01-11 07:53] thatHexa commented on #249
are*

[2017-01-11 08:26] DavidHaslam commented on #250
Unless I'm the _owner_ of the repository - I just see

- Comment
- Share
- Show in GitHub

- **Cancel**

Yet for an issue that I created in another repository, I ought to be able to edit it and even close it.
GitHub allows me to do that, so why not the CodeHub app?

[2017-01-11 08:28] DavidHaslam commented on #250
Further thought.

If I created an issue, and then if later I change my mind, GitHub allows me to delete it.

A left swipe to delete an issue might be a useful enhancement too.

[2017-01-11 11:50] DavidHaslam opened #251 "Add option to edit the issue Subject"
GitHub has a facility to edit the **Subject** of an issue.

It would be a nice enhancement if CodeHub could add this feature.

[2017-01-15 17:29] DavidHaslam opened #252 "UTF-8 text files linked from issues are not displayed correctly"
When you click the link for a text file uploaded within an issue or a comment, if the file contains non-ANSI characters, it is not displayed correctly.  See example below.

![img_1423](https://cloud.githubusercontent.com/assets/16325414/21964609/34ea0936-db47-11e6-8a68-40493bf9d453.PNG)

That screenshot was obtained after clicking to this [file](https://github.com/tfbf/punjabi_bible_1945/files/701

[2017-01-18 05:54] DavidHaslam opened #253 "Add email subject when an item is shared to the Mail app (or similar)"
It would be a useful enhancement to add the email subject by copying (e.g.) the name of a repository or the title of an issue, etc

[2017-01-18 05:56] DavidHaslam commented on #253
If anything further along this line could be implemented, such as also including the description of a repository in the message body, on a separate line to the link, that would be even better

[2017-01-18 06:16] CodingMeUp commented on #253
Are you referring to the application of codeHub?

[2017-01-18 06:32] DavidHaslam commented on #253
Why else would I have added this suggested enhancement?

If you're using CodeHub to explore repositories, and you come across one that's of interest, it's a sensible thing to email yourself as a reminder to look into it further, or to email a friend that might be interested.

It's inefficient to have to type in the email Subject.

Could there be a way to automatically copy something into the Subje

[2017-01-18 07:01] DavidHaslam opened #254 "Hash tagged item numbers not always hyperlinked"
Although issue (etc) numbers tagged with # in notifications are links back to GitHub
and although GitHub links such tags within issues and comments, etc,
these tagged numbers are not links the way CodeHub displays them in the same context.

Is this a bug? Or a note yet implemented feature?

[2017-01-18 08:25] DavidHaslam opened #255 "Pasting an image from the clipboard doesn't work"
Just tried pasting an image in an issue comment that I'd copied from Photos.

It pasted a string of text that was hyphen delimited groups of hexadecimal.

AC28CAFA-E229-450A-815F-555C3B06A63F.

cf. This works properly in other apps such as Mail or Messages.

Suspect it's not picking up the clipboard object type from the iOS API.

[2017-01-18 13:43] DavidHaslam opened #256 "Add Wiki option"
Might it be useful to provide an option to access the Wiki for a GitHub repository?

[2017-01-18 13:45] jon1746 commented on #256
unsubscribe

From: David Frank Haslam <notifications@github.com>
Reply-To: thedillonb/CodeHub <reply@reply.github.com>
Date: Wednesday, January 18, 2017 at 7:43 AM
To: thedillonb/CodeHub <CodeHub@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [thedillonb/CodeHub] Add Wiki option (#256)

Might it be useful to provide an option to access the Wiki for a GitHub repository?

[2017-01-21 04:34] DemonBob opened #257 "Cant auth for enterprise"
Hi guys,

Having trouble authenticating for enterprise. I'm using an oauth token, and my username. When I test with a curl I get valid data back. When trying with codehub it errors out, with you do not have permissions to modify this resource. The oauth token has all admin permissions (infact all are checked).

[2017-01-21 15:30] thedillonb commented on #256
@jon1746, you must unwatch the repository if you're not interested in receiving notifications. I'm deleting your comment for brevity on this thread.

[2017-01-21 15:31] thedillonb commented on #256
@DavidHaslam, unfortunately there is no Wiki API available. I found it really odd too when creating the app, but there's no way to change the Wiki via any API that i've found.

[2017-01-21 15:31] #256 closed

[2017-01-21 15:35] DavidHaslam commented on #256
Thanks for the details.

[2017-01-25 06:29] DavidHaslam opened #258 "CodeHub crashes if user clicks link to a wiki page in a notification"
One of the notifications I received today was for an edit to a wiki page in another repository.

When I clicked the blue highlighted linked name of the wiki page, CodeHub just closed.

Even though GitHub doesn't provide API for its wiki feature, clearly the addresses of such pages can arise in notifications, events, etc, and are parsed by CodeHub as links, even though it has no method handle them

[2017-01-26 07:39] massimoG12345 opened #259 "For loop visual error in C"
![](http://i.imgur.com/apsjhAD.jpg)
The second and third arguments in a for loop in C are visually shown as comments

[2017-01-26 10:09] jnawaz commented on #200
Dillon, I'm new to Xamarin and I'm trying to get the app running to have a look and see if I can resolve some issues that interest me. I can't seem to get past the stage where I select dotCom login, because the app crashes with the message "You must get your own key". As per your answer above, I have left the authorization callback URL to "dillbuchannon.com".

Any suggestions to help me get past t

[2017-01-26 16:26] thedillonb commented on #200
Hey @jnawaz, if you need to set a GitHub Application OAuth Secret and OAuth Id. The exception is originating from https://github.com/thedillonb/CodeHub/blob/master/CodeHub.Core/Secrets.cs which contains secrets that are not checked-in for obvious reasons.

You can create your own `Id` and `Secret` by going to your Settings -> OAuth application -> Register New Application

[2017-01-27 08:55] jnawaz commented on #200
Hey @thedillonb, thanks ever so much. I've got it up and running by generating the OAuth Secret and OAuth Id from within github.

I'm hoping to make some solid contributions.

[2017-01-28 18:21] DemonBob commented on #257
So I tried iOctocat and it works fine. I've cloned the CodeHub repo and if I get some downtime I'll try to get it working.

[2017-01-29 18:53] DavidHaslam opened #260 "Rearrange repositories pinned as favourites in sidebar"
It would be useful to be able to edit the order of the user's favourite repositories.

Other apps often have a feature to rearranged listed items.

[2017-02-01 19:28] cosmocracy commented on #173
Any updates on this?  I've been experiencing the same issue--my organization (with private repos) doesn't show up in the "Organizations" section of the nav.  Ideas?  Thank you!

[2017-02-01 19:31] cosmocracy commented on #173
My problem was that our organization didn't have Third Party app access enabled.  Once I disabled the block it worked.

[2017-02-01 21:28] supertedde commented on #134
I had the same problem. Understand that it would be possible to work around the problem by generally relaxing the access control in the organization settings. Due to the nature of our organizational setup and policies this is however not viable. This type of condition should be pointed out before one is lured to make a purchase. As it stands right now, I can not become a happy user who have paid f

[2017-02-02 02:00] thedillonb commented on #134
@supertedde you had a comment on this thread but must have deleted it. However, I feel it's important to still answer you. If you are unable to use the app to visit an organization that has self imposed restrictions on it then you're welcome to ask for a refund from Apple. iOS developers have no control over providing refunds. However, I would point out that the app functions correctly as stated -

[2017-02-02 07:18] supertedde commented on #134
I disagree. The note would need to say :
Does not work with organizations by default due to a default restriction in access settings. This can however be solved by changing access restrictions in the organization's settings.

[2017-02-02 16:34] thedillonb commented on #134
But, @supertedde, there is already significant description of that in the app. The initial walkthrough, even before you sign up or are prompted with the "pro" version is the following:

![image1](https://cloud.githubusercontent.com/assets/1644068/22558181/ce9aa5ee-e93a-11e6-993a-50c5cbd8fe95.PNG)

The link provided, explains in full detail about organizational restrictions and how to approve them.

[2017-02-02 19:06] supertedde commented on #134
Ok. I trust you have done what's possible then. Usually I belong to the more diligent group of users, and therefore not used to fail due to unreasonable lack of attention from my side, but hey, I could be very wrong in this case. Learning that you insist this must what happened, so I rest my case. And it is very obvious from this conversation that failed use cases, such as mine, are far from ignor

[2017-02-02 21:33] xXP4trickXx opened #261 "CodeHub freezes when user wants to open a GIF"

[2017-02-04 10:43] DavidHaslam opened #262 "Synchronise settings for multiple devices"
If you have CodeHub installed on two devices, might it be feasible to synchronise user settings?

e.g. Repositories pinned to the sidebar.

[2017-02-04 14:09] LeOceanDuDu commented on #262
Not sure

[2017-02-05 14:58] DavidHaslam commented on #262
I was thinking that perhaps the user could store some app settings in iCloud.

[2017-02-10 19:35] mdentinho commented on #262
@DavidHaslam Maybe you can try adding CodeHub to Mackup and use it for the sync: https://github.com/lra/mackup

[2017-02-11 13:04] sudarshansudarshan opened #263 "Alert on commits."
We don't get an alert on commits to our repository. Is there a way to enable this on iOS?

If this isn't possible, may be it can be considered for the forthcoming versions .

[2017-02-12 19:11] thedillonb commented on #263
There is currently no support for commit notifications unless you're mentioned (e.g. @thedillonb) in the commit. The problem with commit notifications is that for CodeHub to determine if it should push a notification it has to interrogate every repository a user owns and diff the previous commit SHA with the current and figure out what new notifications need to be pushed. The task is not impossibl

[2017-02-12 19:14] thedillonb commented on #262
You know, I actually had the user database synchronizing in a previous version but one of the iOS reviewers gave me a hard time cause you could have the database grow to a few MBs which I guess is a no-no. Regardless, I took it out cause not many people used the sync feature anyway. I'll see what I can do to add it back in.

[2017-02-12 19:17] thedillonb commented on #261
Do you happen to have an example of this happening? Perhaps, a GIF that causes the freeze? I am unable to reproduce this.

[2017-02-12 19:28] DavidHaslam commented on #262
Hard to see how storing a user's app settings could grow to several MB.

Each user's data is stored on GitHub, and that just gets accessed by CodeHub.

I'm only asking for such things as which repos are pinned to the sidebar to be sync'ed.

[2017-02-12 19:31] thedillonb commented on #197
I'm not sure I see an advantage to putting a selector in a list to choose "Star/Watchers/Forks" compared to what the app currently does where the previous screen allows you to click on "Star/Watcher/Forks". GitHub.com follows the the latter approach as well. These lists are actually one of the rarely visited views on the app - not many people even look at them. If you can come up with a solid argu

[2017-02-12 19:31] #197 closed

[2017-02-12 19:35] thedillonb commented on #42
Closing due to inactivity.

[2017-02-12 19:35] #42 closed

[2017-02-12 19:35] thedillonb commented on #60
Closing in favor of #260

[2017-02-12 19:35] #60 closed

[2017-02-12 19:37] mikeerickson opened #264 "Auto complete user"
Hey gang

Would be nice to have CodeHub support auto complete when entering user names while composing an issue reply (as does the desktop version of git)

[2017-02-12 19:38] mikeerickson commented on #248
🏓

[2017-02-12 19:38] kredart commented on #263
This is Melanie, you are helping this man hack my phone and he's using my email account, Apple ID, and somehow using my phone number to text people, idk what to do I went to the Apple Store had everything reset and he's back in again, psklaerner@me.com is doing this idk how?

Sent from my iPhone

[2017-02-12 19:40] thedillonb commented on #244
When you travel to the repository view, how quickly are you hitting that button? The code will ignore presses until all the repository information loads. This is because some of the menu's buttons, like "Star", "Watch", and "Show" are dependent on the repository loading so they can get state information.

[2017-02-12 19:40] TheRealGus commented on #248
wtf I didn't subscribe to this and even I after I muted this I'm still getting emails about it quite perplexing

[2017-02-12 19:41] thedillonb commented on #264
Ah yes, I've been waiting a long time for someone to suggest this. It's been in the back of my mind for some time now. Good stuff.

[2017-02-12 19:44] thedillonb commented on #248
@TheRealGus Simply unwatch the repository. When you downloaded the app, during the walkthrough, you must have tapped "Watch" which would subscribe you for notifications.

[2017-02-12 19:46] thedillonb commented on #263
@kredart I have no idea what the hell you're talking about. I'm deleting your comment as it has nothing to do with this issue.

[2017-02-12 19:49] thedillonb commented on #253
@DavidHaslam, I can definitely add the name of the repository to the subject. Do you think I should do "<username>/<repository>" or just the repository name? In addition to the URL, is there anything else you think I should add to the body of the email? Repository description?

[2017-02-12 20:01] #247 closed

[2017-02-12 20:12] DavidHaslam commented on #253
Anything would better than a blank subject field.

Including the repo description as well as the URL in the email body is a great idea.

David

[2017-02-12 20:12] mikeerickson commented on #264
@thedillonb well you know me :-)

[2017-02-13 00:21] thedillonb commented on #87
Issue number is aligned, vertically, as well as color-wise, with the issue title. Moving it vertically to align it with the center of the gray line ends up looking awkward as the eye, moving left to right, ends up looking at the issue state instead of naturally flowing into the title.

[2017-02-13 00:21] #87 closed

[2017-02-13 00:25] thedillonb commented on #146
I'm closing this as I believe all issues within this thread have been resolved. If not, please re-open. Organizational access is one of the biggest pain points with the app. Unfortunately, the app cannot do anything related to organizations it doesn't know exists - because GitHub does not even divulge their existence to the app. I will continue to work on publicizing this to, hopefully, avoid this

[2017-02-13 00:25] #146 closed

[2017-02-13 11:16] xXP4trickXx commented on #261
Ok i think this bug was OS version specific, because since I updated to the latest version of the iOS beta, the bug was gone.

[2017-02-13 13:12] #261 closed

[2017-02-17 09:05] coraxx opened #266 "Login error: You are unauthorized to view the requested resource"
Hi, I need some help :) I wasn't using CodeHub on my iPhone 5 for a while and opened it up yesterday and I was greeted by the "New Account" screen. Okay, reentered my credentials and saw that CodeHub now needs more access, awesome, yes accept... then the "Logging in" wheel appeared and this error was thrown: "Error! You are unauthorized to view the requested resource"

I make the rest short. Remov

[2017-02-17 13:35] punchsportdrink commented on #266
Just purchased this app and am having the same problem.

[2017-02-17 16:14] danrademacher commented on #266
I'm having same issue. Had been using fine in past but was having syncing issues with some new repos. Thought I'd revoke access, reinstall to see if that fixed things. Instead I can't login at all.

Re whether this is a Github API issue - i did try a couple other github iOS clients and trident is also throwing errors. GitBucket logged in successfully but is read only AFAIK. Maybe some new issue wi

[2017-02-17 16:22] coraxx commented on #266
I just had issues with [SourcTree ](https://www.sourcetreeapp.com/) as well, regarding the same authorization step... very weird. Seems some fishy callback business is happening :(

[2017-02-17 17:32] Colobri commented on #266
This also happened to me, downloaded it for the first time about 20h ago and still can't log in. No idea why. :<

[2017-02-17 18:05] PhilippeCarphin commented on #266
I had this issue when I first got the app about a week ago.  I was trying to log in with my username and it gave me this exact error.  When I tried with my e-mail instead address it worked.

I did change my username so it may have worked with my previous username.

I logged out to test the theory.  And now I can't log back in with either my username or my e-mail.

[2017-02-17 19:46] daumiller commented on #266
Just installed today. Tried logging in with both username and e-mail address. I get this error with both methods.

[2017-02-18 04:30] thedillonb commented on #266
Hey guys, sorry for the delay in my response. I've figured out the issue and am in the process of pushing a new version of the app to the iOS store. I will ask them to expedite it as the app is pretty much non-functional as it is.

The sudden cause of this is that GitHub has added a empty `state` query parameter to the OAuth flow which is getting parsed incorrectly on the app side. I'm not sure wh

[2017-02-18 07:31] 4low commented on #266
Came here with the same issue after buying the pro version to try and fix it (I figured maybe it was because my only repo is private).

Good to see it's already been fixed...

I await the update!

[2017-02-18 19:15] coraxx commented on #266
@thedillonb thank you for the quick response/fix. Now we only have to wait for apples app review mills ^^

Let's close this issue when the update was pushed, so people will find it in the issues section at first glance for now.

Cheers and thanks again!

[2017-02-18 20:20] thedillonb commented on #266
@coraxx, good idea. I got a letter from Apple agreeing to do an expedited review but the app is still in "Waiting" status :man_facepalming:

[2017-02-18 23:04] bgrrtt commented on #266
Thanks!

[2017-02-19 19:40] sw95 commented on #266
@thedillonb in my opinion the app listing should be suspended while it is not working ... I upgraded to pro before I found out it wasn't working...

[2017-02-20 01:10] bywangxp commented on #266
i meet this question too

[2017-02-20 01:47] thedillonb commented on #266
Removing an app from the app store takes 24 hours and then 24 hours to restore. On top of that, the latest version can still be redownloaded by previous users. The time at which this issue was discovered, fixed, submitted to Apple, and when I received the confirmation of an expedited review was all within that time frame. My original feeling was that I had a better chance of getting this through a

[2017-02-20 21:41] thedillonb commented on #266
The new version has been released that resolves this issue. You should be getting the update any time now. The app has also been restored to the app store so it may take 24 hours to come back for new users - I took @sw95's advice and removed it.

[2017-02-20 21:41] #266 closed

[2017-02-20 22:20] coraxx commented on #266
Works like a charm! :)

[2017-02-20 23:29] bgrrtt commented on #266
THANKS!

[2017-02-22 13:52] SailCPU opened #267 "How to show organization private repository in CodeHub?"
I belong to an organization named cobotsystems, and this organization has a private repository(cobotsystems/cobot_polishing). How can I see this repository in my CodeHub App? I've already upgrade to pro edition.
![screenshot from 2017-02-22 21 45 48](https://cloud.githubusercontent.com/assets/17603873/23214065/60fd0e28-f948-11e6-9f87-2479398505f0.png)

And, I also try to login as Enterprise accoun

[2017-02-22 14:06] HomoDeus commented on #267
I met the same issue!

[2017-02-22 19:47] thedillonb commented on #267
If your Organization is on GitHub.com then you don't need to login to a GitHub enterprise server (bottom 2 photos). The most likely cause of this is that your organization has 3rd party access denied. Take a look at: https://github.com/thedillonb/CodeHub#troubleshooting

[2017-02-22 19:47] #267 closed

[2017-02-23 11:15] DavidHaslam opened #268 "Clone CodeHub to work with GitLab"
Would it be feasible to clone CodeHub to become a similar app for use with GitLab?